/* Buttons
  =============== */

// Main button styling
%buttons {
  -webkit-appearance: none;
  display: inline-block;
  border: $button-border-width $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  background: $button-background;
  color: $button-color;
  font-weight: $button-font-weight;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

// Buttons on hover
%buttons-hover {
  border: $button-border-width $button-border-style darken($button-border-color, 10%);
  color: darken($button-color, 15%);
  background: $button-background-hover;
  text-decoration: none;
}

// Buttons on focus
%buttons-focus {
  border: $button-border-width $button-border-style darken($button-border-color, 10%);
  background: darken($button-color, 15%);
  color: white;
  text-decoration: none;
}

// Apply styles to .button class, button element, and button-based inputs
#{$buttons} {
  @extend %buttons;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  &:hover {
    @extend %buttons-hover;
  }
  &:focus,
  &:active {
    @extend %buttons-focus;
  }
}

// Secondary button color
.donate-button,
a.donate-button {
  display: inline-flex;
  align-items: center;
  border-radius: $border-radius;
  border: 2px solid $yellow;
  padding: 0.75rem 1rem;
  background: #fff6d5;
  color: darken($yellow, 30%);
  &:hover,
  &:focus,
  &:active {
    background: darken(#fff6d5, 10%);
    border: 2px solid darken(#eedc95, 20%);
    color: #111;
  }
}
