#main-content {
  margin-top: 60px;
  padding: 60px 0 0;
  min-height: calc(100vh - 210px);
}

.container {
  max-width: $width;
  padding: 0 .75rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin: 80px 0;
  &:first-of-type {
    margin-bottom: 0;
  }
}

.post-title {
  display: block;
  flex: 2;
  font-weight: 500;
  color: #333;
}

.single-header {
  margin-bottom: 60px;
  h1 {
    margin: .5rem 0;
  }
}

.date {
  font-size: .9rem;
  color: #888;
}

.newsletter-form {
  display: flex;
  [type="text"],
  [type="email"] {
    width: 100%;
    max-width: 400px;
    margin-right: .5rem;
  }
}

.tag-container {
  span {
    display: inline-block;
    padding: .3rem .8rem;
    color: darken($border-color, 15%);
    border: 2px solid $border-color;
    border-radius: $border-radius;
    font-size: 1.1rem;
    margin-right: .4rem;
    margin-bottom: .4rem;
    &:hover,
    &:active,
    &:focus {
      background: lighten($border-color, 15%);
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.search-enabled {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  h1 {
    margin-bottom: 1rem;
  }
}

@include small-breakpoint {
  .search-enabled {
    flex-direction: row;
    h1 {
      margin-bottom: 0;
    }
  }
}

.search-icon {
  position: absolute;
  right: .6rem;
  top: calc(50% - 0.5em);
  /* Keep icon in center of input, regardless of the input height */
}

.search-wrapper {
  position: relative;
  [type="search"] {
    -webkit-appearance: none;
    padding-right: 2rem;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-form {
  [type="search"] {
    width: auto;
    background: $light;
    &:hover {
      border: 0;
    }
    &:active,
    &:focus {
      box-shadow: none;
      border: 0;
      color: #111;
      background: #fff6d5;
    }
  }
}

blockquote {
  color: lighten($font-color, 20%);
  border-left: 12px solid $background;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 1rem;
  line-height: 1.4;
  font-size: 1rem;
  p {
    padding: 0;
    font-size: 1.1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  cite {
    display: block;
    margin-top: .5rem;
    font-size: .9rem;
    text-align: right;
    font-family: $font-family;
    color: rgba(0, 0, 0, .4);
  }
  &.testimonial {
    padding-left: 0;
    border-left: 0;
  }
  &.alert,
  &.info,
  &.note,
  &.details,
  &.success {
    color: $heading-font-color;
    font-family: $heading-font-family;
  }
  &.alert {
    background: lighten($secondary-color, 28%);
    border-color: $secondary-color;
  }
  &.info {
    background: #fff6d5;
    border-color: #f0d461;
  }
  &.success {
    background: lighten($green, 30%);
    border-color: $green;
  }
  &.note {
    background: $background;
    border-color: $border-color;
  }
  &.details {
    background: lighten($primary-color, 33%);
    border-color: lighten($primary-color, 20%);
  }
  code {
    margin: 1rem 0 0;
  }
}

@include small-breakpoint {
  blockquote {
    border-left: 16px solid $background;
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 2rem;
    cite {
      margin-top: 1rem;
    }
    p {
      font-size: 1.3rem;
    }
    code {
      font-size: .9rem;
      margin: 2rem 0 0;
    }
  }
}

.footer {
  height: 100px;
  color: #888;
}

::selection {
  background: rgba(255, 245, 20, .8);
  color: #111;
}