#main-content {
  margin-top: 55px;
  padding: 40px 0 0;
  min-height: calc(100vh - 162px);
}

@include small-breakpoint {
  #main-content {
    margin-top: 92px;
    padding: 60px 0 0;
    min-height: calc(100vh - 219px);
  }
}

.container {
  max-width: $width;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@include small-breakpoint {
  .container {
    padding: 0 2rem;
  }
}

.lead {
  font-size: 1.1rem;

  a {
    border-bottom: 2px solid lighten($primary-color, 30%);

    &:hover {
      color: $link-hover-color;
      background: $primary-hover;
      border-bottom: 2px solid $link-hover-color;
    }

    &:active,
    &:focus {
      color: $link-hover-color;
      background: $primary-hover;
      border-bottom: 2px dashed $link-hover-color;
    }
  }

  h1 {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .button {
    margin-right: 0.5rem;
  }
}

@include small-breakpoint {
  .lead {
    display: flex;
    font-size: 1.2rem;

    > div:first-of-type {
      flex: 2;
      margin-right: 3rem;
    }

    > div {
      flex: 1;
    }

    h1 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.3rem;
    }

    .button {
      margin-right: 0.5rem;
    }
  }
}

.callouts {
  display: none;
}

@include small-breakpoint {
  .callouts {
    display: block;
  }

  a.article-callout {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 4px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    color: $font-color;
    font-weight: 500;
    border: none !important;
    padding: 1.5rem;
    margin: 1.5rem 0;
    font-size: 1.5rem;

    &:hover,
    &:active,
    &:focus {
      color: #111;
      background: white;
      box-shadow: $box-shadow;
    }

    img {
      height: 50px;
      width: 50px;
      max-width: 50px;
      margin: 0 1.5rem 0 0;
    }
  }
}

.social-buttons {
  display: flex;

  div:first-of-type {
    margin-right: 0.5rem;
  }
}

@include small-breakpoint {
  .lead-grid {
    display: flex;

    div {
      flex: 1;

      &:first-of-type {
        margin-right: 1.5rem;
      }
    }
  }
}

.front-page {
  h2 {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.section {
  margin: 40px 0;

  &:first-of-type {
    margin-bottom: 0;
  }
}

@include small-breakpoint {
  .section {
    margin: 4rem 0;
  }
}

.single {
  .gatsby-image-wrapper {
    height: 50px !important;
    width: 50px !important;
  }
}

@include small-breakpoint {
  .single {
    .gatsby-image-wrapper {
      height: 150px !important;
      width: 150px !important;
    }
  }
}

.single-header {
  display: grid;
  margin-bottom: 30px;

  &.no-thumbnail {
    display: flex;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0.5rem 0;
  }

  .post-meta {
    margin-bottom: 1rem;
  }
}

@include small-breakpoint {
  .single-header {
    display: grid;
    grid-template-columns: 180px 1fr;
    margin-bottom: 80px;

    h1 {
      margin: 0 0 0.5rem 0;
    }
  }
}

.post-container {
  display: flex;
}

.posts {
  a {
    display: block;

    .each {
      display: grid;
      align-items: center;
      grid-template-columns: 60px 1fr 0;
      padding: 1rem 0;
      margin: 0;
      border: 2px solid transparent;
      border-bottom: 2px solid $light;

      .date {
        margin: 0;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 400;
      }
    }

    &:last-of-type {
      .each {
        border-bottom-color: transparent;
      }
    }
  }

  h2 {
    font-size: 1.1rem;
    line-height: 1.3;
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  .gatsby-image-wrapper {
    margin-top: 0;
    height: 40px !important;
    width: 40px !important;
  }

  .excerpt {
    display: none;
  }

  &.simple {
    a {
      .each {
        grid-template-columns: 50px 2fr auto;
        align-items: center;
        padding: 1rem 0;
        margin: 0;
        border: 2px solid transparent;

        &:hover {
          background: white;
        }
      }
    }

    .gatsby-image-wrapper {
      margin-top: 0;
      height: 30px !important;
      width: 30px !important;
    }

    h2 {
      font-weight: 500;
      padding: 0;
      margin: 0;
      color: $light-font-color;

      &:hover {
        color: #111;
      }
    }
  }
}

@include small-breakpoint {
  .posts {
    margin: 3rem 0;

    a {
      .each {
        grid-template-columns: 80px 1fr 90px;
        align-items: start;
        padding: 1rem 2rem;
        margin: 0 -2rem;

        &:hover {
          border-radius: $border-radius;
          background: $light;

          &last-of-type {
            &:hover {
              border-bottom-color: $primary-color;
            }
          }

          h2 {
            color: #111;
          }
        }

        &:active,
        &:focus {
          border: 2px dashed $primary-color;
          background: $primary-hover;
        }

        h2 {
          font-size: 1.3rem;
          line-height: 1.3;
          margin: 0 0 0.25rem 0;
        }

        .gatsby-image-wrapper {
          margin-top: 0;
          height: 50px !important;
          width: 50px !important;
        }
      }

      .excerpt {
        font-size: 1rem;
        display: block;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 500;
      }
    }

    &.simple {
      a {
        .each {
          padding: 0.75rem 1rem;
          margin: 0 -1rem;

          &:hover {
            border: 2px solid $light;
            background: $light;
          }

          &:active,
          &:focus {
            border: 2px dashed $primary-color;
            background: $primary-hover;
          }

          h2 {
            margin: 0;
          }

          .gatsby-image-wrapper {
            height: 30px !important;
            width: 30px !important;
          }
        }
      }
    }
  }
}

h2.publication-company {
  display: flex;
  align-items: center;

  img {
    max-height: 50px;
    margin: 0 1rem 0 0;
  }
}

.alert {
  display: none;
  align-self: center;
  justify-self: flex-end;

  .new {
    display: inline-block;
    font-size: 0.9rem;
    background: lighten($yellow, 26%);
    color: darken($yellow, 18%);
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .popular {
    display: inline-block;
    font-size: 0.9rem;
    background: lighten($green, 50%);
    color: $green;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    text-align: center;
  }
}

@include small-breakpoint {
  .alert {
    margin-left: 1rem;
    display: block;
  }
}

.simple-posts {
  a {
    .each {
      padding: 0.5rem 0;
      margin: 0;
      border: 2px solid transparent;
      border-radius: $border-radius;

      h2 {
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0;
        margin: 0;
        color: $light-font-color;
        border-bottom: none;
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 1rem;
        margin-bottom: 0;
        max-height: 30px;
        max-width: 30px;
      }

      &:hover {
        border: 2px solid $light;
        background: $light;

        h2 {
          color: #111;
        }
      }
    }
  }
}

@include small-breakpoint {
  .simple-posts {
    a {
      .each {
        padding: 0.75rem 1rem;
        margin: 0 -1rem;

        h2 {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.projects {
  .each {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  h2 {
    font-size: 1.2rem;
    border-bottom: none;
    margin: 0 1rem 0 0;
    font-weight: 600;
    color: #111;
    padding: 0;
    min-width: 110px;

    a {
      display: flex;
      color: #111;
      align-items: center;
    }

    .project-icon {
      display: inline-block;
      font-size: 2rem;
      margin-right: 1rem;
    }

    .project-title {
      display: inline-block;
    }
  }

  p {
    display: none;
    color: $light-font-color;
    font-weight: normal;
    margin: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    width: 210px;
    min-width: 210px;
    max-width: 210px;
  }

  .button {
    margin-right: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@include small-breakpoint {
  .projects {
    .each {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;
      border-bottom: 2px solid $light;

      &:last-of-type {
        border-bottom: none;
      }
    }

    h2 {
      width: 150px;
      min-width: 150px;
      max-width: 150px;
      font-size: 1.4rem;
      margin-right: 1rem;
    }

    p {
      display: block;
      flex: 1;
      margin: 0 1.5rem 0 0;
    }

    .button {
      padding: 0.45rem 1.25rem;
      font-size: 0.9rem;
    }
  }
}

.tag-container {
  span {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    background: $light;
    border-radius: $border-radius;
    color: lighten($font-color, 10%);
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0 0.5rem 0.5rem 0;

    .count {
      color: $secondary-color;
      font-weight: 700;
      margin-left: 0.25rem;
    }

    &:hover,
    &:active,
    &:focus {
      background: darken($light, 5%);
      color: $font-color;
    }
  }

  &.articles-page-tags {
    margin-bottom: 1rem;
  }
}

@include small-breakpoint {
  .tag-container {
    span {
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0.3rem 0.8rem;

      .count {
        margin-left: 0.5rem;
      }
    }

    &.articles-page-tags {
      margin-bottom: 2rem;
      display: flex;

      a {
        flex: 1;

        span {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.post-meta {
  font-size: 0.8rem;
  color: $light-font-color;
  display: inline-block;

  .date {
    margin-right: 0.5rem;
  }

  a {
    color: $light-font-color;

    &.comment-link,
    &.twitter-link,
    &.github-link {
      margin: 0 0.5rem;
    }

    &.comment-link {
      text-transform: lowercase;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

@include small-breakpoint {
  .post-meta {
    font-size: 0.9rem;
  }
}

@include small-breakpoint {
  .quotations {
    display: flex;

    .quotation {
      margin: 1rem;
      padding: 2.5rem;
      border-radius: $border-radius;
      flex: 1;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

blockquote {
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid $yellow;
  background: lighten($yellow, 28%);
  border-radius: $border-radius;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 1rem;
  line-height: 1.6;
  font-size: 1rem;

  &.quotation {
    border-radius: 0;
    border: 0;
    background: transparent;
    padding: 0.5rem 0;

    p {
      padding: 0;
      font-size: 1.3rem;
    }
  }

  p {
    padding: 0;
    font-size: 1.15rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    color: #111;
    border-bottom: 2px solid $yellow !important;

    &:hover,
    &:active,
    &:focus {
      color: #111 !important;
      background: lighten($yellow, 28%) !important;
    }
  }

  cite {
    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: right;
    font-family: $font-family;
    color: rgba(0, 0, 0, 0.4);
  }

  code {
    margin: 1rem 0 0;
  }
}

@include small-breakpoint {
  blockquote {
    padding: 2rem;

    p {
      font-size: 1.2rem;
    }
  }
}

.note {
  background: $light;
  padding: 2rem 0;
  margin: 1.5rem 0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;

  .note-container {
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .avatar {
    max-width: 200px;
    border-radius: 50%;
  }

  h2 {
    border-bottom: 0;
  }
}

@include small-breakpoint {
  .note {
    background: $light;
    padding: 2rem 0;
    margin: 1.5rem 0;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;

    .note-container {
      flex-direction: row;
    }

    .flex-author {
      display: flex;
    }

    .avatar {
      margin-right: 2rem;
    }
  }
}

.search {
  margin-bottom: 0;
}

.filter-count {
  width: 80px;
  text-align: center;
  color: $primary-color;
  font-size: 1.4rem;
  font-weight: 600;
}

@include small-breakpoint {
  .note {
    padding: 4rem 0;
    margin: 3rem 0;

    .note-container {
      padding: 3rem;
    }
  }
}

.view-all {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.emoji-in-button {
  line-height: 0;
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.category-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;

  .category-filter {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    padding: 0.5rem 0.75rem;
    background: lighten($primary-color, 32%);
    border-radius: $border-radius;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: $primary-color;
    cursor: pointer;

    .count {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      margin-left: 1rem;
      color: $primary-color;
      height: 23px;
      width: 23px;
      border-radius: 50%;
      padding: 5px 5px 5px 5px;
    }

    &.active {
      background: $primary-color;
      color: white;

      .count {
        background: white;
      }

      &:hover,
      &:active,
      &:focus {
        color: white;
        background: darken($primary-color, 10%);
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background: lighten($primary-color, 28%);
      color: darken($primary-color, 5%);
    }
  }
}

@include small-breakpoint {
  .category-container {
    margin-bottom: 1.5rem;

    .category-filter {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }
}

.coffee-icon {
  margin: 0;
  margin-right: 0.5rem;
  max-width: 40px;
  height: auto;
}

.newsletter-section {
  border-radius: $border-radius;
  padding: 3rem;
  background: $light;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  color: $light-font-color;

  strong {
    margin-right: 1rem;
  }

  a {
    font-weight: 400;
    color: darken($light, 30%);
    display: block;
    margin-right: 1rem;

    &:hover {
      color: $primary-color;
    }
  }
}

@include small-breakpoint {
  .footer {
    height: 100px;
  }
}

iframe {
  margin-bottom: 0;
}

::selection {
  background: rgba(255, 245, 20, 0.8);
  color: #111;
}
