#main-content {
  margin-top: 55px;
  padding: 40px 0 0;
  min-height: calc(100vh - 162px);
}

@include small-breakpoint {
  #main-content {
    margin-top: 92px;
    padding: 60px 0 0;
    min-height: calc(100vh - 222px);
  }
}

.container {
  max-width: $width;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@include small-breakpoint {
  .container {
    padding: 0 2rem;
  }
}

.lead {
  font-size: 1.1rem;
  h1 {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .button {
    margin-right: 0.5rem;
  }
}

@include small-breakpoint {
  .lead {
    font-size: 1.2rem;
    h1 {
      font-size: 2rem;
    }
    .button {
      margin-right: 0.5rem;
    }
  }
}

.section {
  margin: 40px 0;
  &:first-of-type {
    margin-bottom: 0;
  }
}

@include small-breakpoint {
  .section {
    margin: 4rem 0;
  }
}

.single {
  .gatsby-image-wrapper {
    height: 50px !important;
    width: 50px !important;
  }
}

@include small-breakpoint {
  .single {
    .gatsby-image-wrapper {
      height: 150px !important;
      width: 150px !important;
    }
  }
}

.single-header {
  display: grid;
  margin-bottom: 30px;
  .flex {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0.5rem 0;
  }
  .post-meta {
    margin-bottom: 1rem;
  }
}

@include small-breakpoint {
  .single-header {
    display: grid;
    grid-template-columns: 180px 1fr;
    margin-bottom: 80px;
    h1 {
      margin: 0 0 0.5rem 0;
    }
  }
}

.posts {
  a {
    display: block;
    .each {
      display: grid;
      align-items: center;
      grid-template-columns: 60px 1fr;
      padding: 0.75rem;
      margin: 0;
      border-radius: $border-radius;
      border: 2px solid transparent;
      border-bottom-color: #f0f0f0;
      .date {
        margin: 0;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 400;
      }
      &:hover {
        border: 2px solid $primary-color;
        background: $button-background-hover;
        h2 {
          color: #111;
        }
      }
    }
    &:last-of-type {
      .each {
        border-bottom-color: transparent;
        &:hover {
          border-bottom-color: $primary-color;
        }
      }
    }
  }
  h2 {
    font-size: 1.1rem;
    line-height: 1.3;
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  .gatsby-image-wrapper {
    margin-top: 0;
    height: 40px !important;
    width: 40px !important;
  }
  .excerpt {
    display: none;
    color: $light-font-color;
    font-weight: 400;
  }
  &.simple {
    a {
      .each {
        grid-template-columns: 50px 2fr;
        align-items: center;
        padding: 0.75rem;
        margin: 0;
        border: 2px solid transparent;
        &:hover {
          border: 2px solid $primary-color;
          background: $button-background-hover;
        }
      }
    }
    .gatsby-image-wrapper {
      margin-top: 0;
      height: 30px !important;
      width: 30px !important;
    }
    h2 {
      font-weight: 500;
      padding: 0;
      margin: 0;
      color: $light-font-color;
      &:hover {
        color: #111;
      }
    }
  }
}

@include small-breakpoint {
  .posts {
    a {
      .each {
        grid-template-columns: 80px 1fr;
        align-items: start;
        padding: 2.5rem 2rem;
        margin: 0 -2rem;
        h2 {
          font-size: 1.2rem;
          line-height: 1.3;
          margin: 0 0 0.75rem 0;
        }
        .gatsby-image-wrapper {
          margin-top: 0;
          height: 50px !important;
          width: 50px !important;
        }
      }
      .excerpt {
        font-size: 1.05rem;
        display: block;
      }
    }
    &.simple {
      a {
        .each {
          padding: 0.75rem 1rem;
          margin: 0 -1rem;
          h2 {
            margin: 0;
          }
          .gatsby-image-wrapper {
            height: 30px !important;
            width: 30px !important;
          }
        }
      }
    }
  }
}

.simple-posts {
  a {
    .each {
      padding: 0.5rem;
      margin: 0;
      border: 2px solid transparent;
      border-radius: $border-radius;
      h2 {
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0;
        margin: 0;
        color: $light-font-color;
        border-bottom: none;
      }
      &:hover {
        border: 2px solid $primary-color;
        background: $button-background-hover;
        h2 {
          color: #111;
        }
      }
    }
  }
}

@include small-breakpoint {
  .simple-posts {
    a {
      .each {
        padding: 0.75rem 1rem;
        margin: 0 -1rem;
        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.projects {
  .each {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  h2 {
    font-size: 1.2rem;
    border-bottom: none;
    margin: 0 0 0.75rem 0;
    color: #111;
    padding: 0;
    margin: 0 0 0.5rem 0;
  }
  p {
    display: none;
    color: $light-font-color;
    font-weight: normal;
    margin: 0;
  }
  .button {
    margin-right: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@include small-breakpoint {
  .projects {
    .each {
      display: grid;
      grid-template-columns: 2fr 5fr 3fr;
      grid-template-rows: none;
    }
    p {
      display: block;
      margin: 0 1.5rem 0 0;
    }
    .button {
      padding: 0.75rem 1.25rem;
      font-size: 1.1rem;
    }
  }
}

.tag-container {
  span {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    color: darken($border-color, 30%);
    border: 2px solid $border-color;
    border-radius: $border-radius;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0 0.5rem 0.5rem 0;
    .count {
      color: $secondary-color;
      font-weight: 700;
      margin-left: 0.25rem;
    }
    &:hover,
    &:active,
    &:focus {
      border: 2px solid darken($border-color, 10%);
      background: lighten($border-color, 15%);
      color: darken($border-color, 40%);
    }
  }
  &.articles-page-tags {
    margin-bottom: 1rem;
  }
}

@include small-breakpoint {
  .tag-container {
    span {
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0.3rem 0.8rem;
      .count {
        margin-left: 0.5rem;
      }
    }
    &.articles-page-tags {
      margin-bottom: 2rem;
      display: flex;
      a {
        flex: 1;
        span {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.post-meta {
  font-size: 0.8rem;
  color: $light-font-color;
  display: inline-block;
  .date {
    margin-right: 0.5rem;
  }
  a {
    color: $light-font-color;
    &.comment-link,
    &.twitter-link,
    &.github-link {
      margin: 0 0.5rem;
    }
    &.comment-link {
      text-transform: lowercase;
    }
    &:hover {
      color: $primary-color;
    }
  }
}

@include small-breakpoint {
  .post-meta {
    font-size: 0.9rem;
  }
}

blockquote {
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid $yellow;
  background: lighten($yellow, 28%);
  border-radius: $border-radius;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  &.quotation {
    border: 0;
    border-left: 10px solid #f0f0f0;
    background: transparent;
    padding: .5rem 2rem;
  }
  p {
    padding: 0;
    font-size: 1.15rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: #111;
    border-bottom: 2px solid $yellow !important;
    &:hover,
    &:active,
    &:focus {
      color: #111 !important;
      background: lighten($yellow, 10%) !important;
    }
  }
  cite {
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: right;
    font-family: $font-family;
    color: rgba(0, 0, 0, 0.4);
  }
  code {
    margin: 1rem 0 0;
  }
}

@include small-breakpoint {
  blockquote {
    padding: 2rem;
    p {
      font-size: 1.2rem;
    }
  }
}

.note {
  background: $light;
  padding: 2rem 0;
  margin: 1.5rem 0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  .note-container {
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 1.5rem;
  }
  h2 {
    border-bottom: 0;
  }
}

@include small-breakpoint {
  .note {
    padding: 4rem 0;
    margin: 3rem 0;
    .note-container {
      padding: 3rem;
    }
  }
}

.view-all {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.emoji-in-button {
  line-height: 0;
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.coffee-icon {
  margin: 0;
  height: 20px;
  width: 20px;
}

@include small-breakpoint {
  .coffee-icon {
    margin-left: 0.75rem;
    height: 25px;
    width: 25px;
    margin-bottom: 0.25rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
  color: $light-font-color;
}

@include small-breakpoint {
  .footer {
    height: 100px;
  }
}

::selection {
  background: rgba(255, 245, 20, 0.8);
  color: #111;
}
