.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: white;
  transition: height 0.3s ease;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }

  .nav-container {
    padding: 0 1.5rem;
    height: 55px;
    max-width: $width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;

    .brand {
      a {
        display: flex;
        align-items: center;
        color: #333;
        margin-right: 0;
        font-weight: 600;
        font-size: 1.1rem;

        &:hover,
        &:focus {
          color: black;
        }
      }

      .text {
        display: none;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-around;
      margin: 0 0.5rem;

      a {
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem 0.3rem;
        margin: 0;
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.2;
        text-align: center;

        &:hover,
        &:active {
          color: #111;
        }
      }
    }
  }

  a.donate-button {
    padding: 0.5rem;

    .text {
      display: none;
    }

    .emoji-in-button {
      margin: 0;
    }
  }
}

.favicon {
  height: 25px;
  width: 25px;
  margin-bottom: 0;
}

button.dark-switcher {
  -webkit-appearance: none;
  border: 0;
  padding: 1rem 0.3rem;
  margin: 0;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.theme-icon {
  height: 18px;
  width: 18px;
  margin-bottom: 0;
}

@include small-breakpoint {
  .nav {
    &.scroll {
      box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

      .nav-container {
        height: 60px;
      }
    }

    .nav-container {
      height: $nav-height;
      padding: 0 2rem;

      .brand {
        a {
          font-size: 1.3rem;
        }

        .text {
          display: block;
        }
      }

      .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: unset;

        a {
          font-size: 1.2rem;
          margin: 0 1rem;
          padding: 1rem 0.5rem;
        }
      }

      a.donate-button {
        padding: 0.5rem 1.25rem;

        .text {
          display: block;
        }

        .emoji-in-button {
          margin: 0.25rem 0 0 0.75rem;
        }
      }
    }
  }

  .favicon {
    margin-right: 1rem;
  }

  button.dark-switcher {
    padding: 1rem;
    margin: 0;
    font-size: 1.4rem;
  }

  .theme-icon {
    height: 22px;
    width: 22px;
    margin-bottom: 0;
  }
}
