.nav {
  height: $nav-height;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  font-size: .9rem;
  background: white;
  .nav-container {
    height: $nav-height;
    max-width: $width;
    margin: auto;
    padding: 0 .75rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .brand {
      a {
        font-size: 1.3rem;
      }
    }
    a {
      border-radius: 4px;
      color: #333;
      font-size: 1.1rem;
      margin-right: 2.5rem;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
    .links {
      display: flex;
      flex-direction: row;
      a {
        font-weight: 500;
        color: #888;
        &:hover {
          color: #111;
        }
      }
    }
  }
}

.favicon {
  height: 25px;
  width: 25px;
  margin-right: .75rem;
}