.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: white;

  .cta {
    display: flex;
    align-items: center;
  }

  .nav-container {
    padding: 0 1.5rem;
    height: 55px;
    max-width: $width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
  }

  .brand {
    a {
      display: flex;
      align-items: center;
      color: #333;
      margin-right: 0;
      font-weight: 600;
      font-size: 1.1rem;

      &:hover,
      &:focus {
        color: black;
      }
    }

    .text {
      display: none;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      font-size: 1.05rem;
      font-weight: 500;
      padding: 1rem 0.75rem;
      margin: 0;
      color: rgba(0, 0, 0, 0.45);
      line-height: 1.2;
      text-align: center;

      &:hover,
      &:active {
        color: #111;
      }
    }
  }
}

.favicon {
  height: 23px;
  width: 23px;
  margin-bottom: 0;
}

button.dark-switcher {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.theme-icon {
  height: 18px;
  width: 18px;
  margin-bottom: 0;
}

.kofi {
  margin: 0;
  max-width: 35px;
}

@include small-breakpoint {
  .nav {
    &.scroll {
      box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

      .nav-container {
        height: 60px;
      }

      .links a {

        &:hover,
        &.active {
          color: #111;
          border-bottom: 2px solid $primary-color;
        }

        &:active {
          color: #111;
          border-bottom: 2px dashed $primary-color;
        }
      }
    }

    .nav-container {
      height: $nav-height;
      padding: 0 2rem;

      .brand {
        a {
          font-size: 1.3rem;
        }

        .text {
          display: block;
        }
      }

      .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: unset;
        height: 100%;

        a {
          font-size: 1.2rem;
          margin: 0 1rem;
          padding: 1rem 0.5rem;
          border-bottom: 2px solid transparent;

          &.active {
            color: #111;
          }
        }
      }

      a.donate-button {
        padding: 0.5rem 1.25rem;

        .text {
          display: block;
        }

        .emoji-in-button {
          margin: 0.25rem 0 0 0.75rem;
        }
      }
    }
  }

  .patreon {
    margin: 0;
    border-radius: 4px;
  }

  .kofi {
    margin: 0;
    max-width: 38px;
  }

  .favicon {
    margin-right: 1rem;
  }

  button.dark-switcher {
    margin: 0;
    font-size: 1.4rem;
  }

  .theme-icon {
    height: 22px;
    width: 22px;
    margin-bottom: 0;
  }
}