/* Scaffolding
  =============== */

// HTML base
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
  font-family: $font-family;
  font-size: 84% !important;
}

// Body base
body {
  color: $font-color;
  font-size: 1rem;
}

@include small-breakpoint {
  body {
    font-size: $body-font-size;
  }
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 1.5rem 0;
  font-size: 1.15rem;
}

@include small-breakpoint {
  p,
  ol,
  ul,
  dl,
  table {
    margin: 0 0 2rem 0;
    font-size: 1.3rem;
  }
}

ul li p {
  margin: 0;
}

// Remove extra margin for nested lists
ul li ul {
  margin-bottom: 0;

  li {
    margin-left: 0;
  }
}

ol li ol {
  margin-bottom: 0;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color: $heading-font-color;

  &:not(:first-child) {
    margin: 0 0 1rem 0;
  }
}

// Increased margin on additional headings
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 3rem;
}

// Heading individual styles
h1 {
  font-size: $h1-mobile;
  font-weight: 600;
  code {
    font-size: $h1-mobile !important;
  }
}

h2 {
  font-size: $h2-mobile;
  font-weight: 600;
  padding-bottom: 0.2rem;
  code {
    font-size: $h2-mobile !important;
  }
}

h3 {
  font-size: $h3-mobile;
  font-weight: 600;
  color: lighten($heading-font-color, 20%);
}

h4 {
  font-size: $h4-mobile;
  font-weight: 600;
}

h5 {
  font-size: $h5-mobile;
  font-weight: 600;
}

@include small-breakpoint {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 2rem 0;

    &:not(:first-child) {
      margin: 0 0 1.5rem 0;
    }
  }

  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 4.5rem;
  }

  // Heading desktop individual styles
  h1 {
    font-size: $h1;
    code {
      font-size: $h1 !important;
    }
  }

  h2 {
    font-size: $h2;
    code {
      font-size: $h2 !important;
    }
  }

  h3 {
    font-size: $h3;
  }

  h4 {
    font-size: $h4;
  }

  h5 {
    font-size: $h5;
  }
}

ul {
  padding: 0;

  li {
    &.task-list-item {
      padding-left: 0;
      margin-left: 0;
      &:before {
        content: '';
      }
    }

    &:before {
      content: '\2022 ';
      position: absolute;
      left: 0;
      color: lighten($font-color, 30%);
      font-size: 22px;
      line-height: 1.1;
    }

    position: relative;
    list-style-type: none;
    margin-bottom: 0.3rem;
    padding-left: 1.5rem;
    margin-left: 0.5rem;
  }
}

@include small-breakpoint {
  ul {
    li {
      padding-left: 1.5rem;
      margin-left: 1.5rem;
    }
  }
}

// Link styling
a {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

.lead,
.post,
.page {
  a:not(.button):not(.anchor):not(.gatsby-resp-image-link) {
    border-bottom: 2px solid lighten($primary-color, 30%);
    &:hover {
      color: $link-hover-color;
      background: $primary-hover;
      border-bottom: 2px solid $link-hover-color;
    }
    &:active,
    &:focus {
      color: $link-hover-color;
      background: $primary-hover;
      border-bottom: 2px dashed $link-hover-color;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

// Highlight
mark {
  background: $highlight;
  padding: 0 0.2rem;
}

strong,
b {
  font-weight: 600;
}

blockquote cite {
  display: block;
  text-align: right;
}

// Line break
hr {
  height: 0;
  border: 0;
  border-top: $borders;
}

// Definition list
dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
}

[type='checkbox'] {
  margin-right: 1rem;
}
