/* Scaffolding
  =============== */

// HTML base
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
  font-size: 85% !important;
}

// Body base
body {
  color: $font-color;
  font-size: 1rem;
}

@include small-breakpoint {
  body {
    font-size: $body-font-size;
  }
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 1.5rem 0;
}

@include small-breakpoint {
  p,
  ol,
  ul,
  dl,
  table {
    margin: 0 0 2rem 0;
  }
}

ul li p {
  margin: 0;
}

// Remove extra margin for nested lists
ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color: $heading-font-color;
  &:not(:first-child) {
    margin: 0 0 1rem 0;
  }
}

// Increased margin on additional headings
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 3rem;
}

// Heading individual styles
h1 {
  font-size: $h1-mobile;
  font-weight: 600;
}

h2 {
  font-size: $h2-mobile;
  font-weight: 600;
  border-bottom: 2px solid lighten($border-color, 12%);
  padding-bottom: 0.5rem;
}

h3 {
  font-size: $h3-mobile;
  font-weight: 500;
}

h4 {
  font-size: $h4-mobile;
  font-weight: 600;
}

h5 {
  font-size: $h5-mobile;
  font-weight: 500;
}

@include small-breakpoint {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 2rem 0;
    &:not(:first-child) {
      margin: 0 0 1.5rem 0;
    }
  }
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 3.5rem;
  } // Heading desktop individual styles
  h1 {
    font-size: $h1;
  }
  h2 {
    font-size: $h2;
  }
  h3 {
    font-size: $h3;
  }
  h4 {
    font-size: $h4;
  }
  h5 {
    font-size: $h5;
  }
}

ul {
  padding: 0;
  li {
    &:before {
      content: '\2022 ';
      position: absolute;
      left: 0;
      color: $secondary-color;
      font-size: 22px;
      line-height: 1.1;
    }
    position: relative;
    list-style-type: none;
    margin-bottom: 0.3rem;
    padding-left: 1.5rem;
    margin-left: .5rem;
  }
}

@include small-breakpoint {
  ul {
    li {
      padding-left: 1.5rem;
      margin-left: 1.5rem;
    }
  }
}

// Link styling
a {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;
  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

.post,
.page {
  a:not(.button):not(.anchor):not(.gatsby-resp-image-link) {
    &:hover,
    &:active,
    &:focus {
      border-radius: $border-radius;
      color: $link-hover-color;
      background: $button-background-hover;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

// Highlight
mark {
  background: $highlight;
  padding: 0 0.2rem;
}

strong,
b {
  font-weight: 600;
}

// Keyboard input
kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

// Line break
hr {
  height: 0;
  border: 0;
  border-top: $borders;
}

// Definition list
dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
}