@font-face {
  font-family: 'PerfectDOS';
  src: url('../fonts/PerfectDos.ttf') format('truetype');
}

.not-found {
  background: #000084;
  color: #bbb;
  font-family: 'PerfectDOS', 'Courier New', monospace;
  font-weight: 400;
  font-size: 16px;
  height: 100vh;
  #main-content {
    padding-top: 80px;
    margin: 0;
  }
  footer.footer,
  button.dark-switcher {
    display: none;
  }
  h1 {
    color: #000;
    background: #bbb;
    box-shadow: 10px 10px 0 #000;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'PerfectDOS', 'Courier New', monospace;
    font-weight: 600;
    margin-bottom: 40px;
  }
  p {
    font-size: 16px;
  }
  .list p:not(:last-of-type) {
    margin-bottom: 5px;
  }
  .bullet {
    margin-right: 30px;
  }
  .tania {
    color: #ffff00;
  }
  .nav {
    background: #bbb;
    border-bottom: 2px solid #bbb;
    color: #000;
    height: 30px;
    .nav-container {
      padding: 0;
      height: 30px;
      .brand {
        display: flex;
        align-items: center;
        a {
          height: 30px;
        }
      }
      .links,
      .brand {
        height: 30px;
        a {
          border-radius: 0;
          color: #000;
          font-weight: 600;
          padding: 0 5px;
          margin: 0;
          line-height: 30px;
          font-size: 16px;
          &:hover,
          &:active,
          &:focus {
            background: #000;
            color: #bbb;
          }
        }
      }
      a.kofi-button {
        display: none;
        background: #00aaaa;
        border: none;
        color: #eee;
        border-radius: 0;
        height: 30px;
        &:hover,
        &:active,
        &:focus {
          background: #000;
          border: none;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .not-found {
    font-size: 24px;
    #main-content {
      padding-top: 160px;
    }
    .nav {
      .nav-container {
        .links,
        .brand {
          a {
            font-size: 24px;
            padding: 0 15px;
          }
        }
      }
    }
    p {
      font-size: 24px;
    }
    img {
      display: none;
    }
    .emoji {
      display: none;
    }
  }
}

.blink {
  animation: blinkingText 0.8s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
