$background: #202020;
$foreground: #b3b9c5;
$accent: #303030;
$dark-border: darken($background, 3%);

.dark {
  background: $background;
  color: $foreground;

  .lead h1 {
    color: $foreground;
  }

  a {
    color: lighten($primary-color, 10%);

    &:hover,
    &:active,
    &:focus {
      color: darken($primary-color, 2%);
      background: transparent;
    }
  }

  .lead {
    a {
      border-bottom: 2px solid transparent;

      &:hover {
        color: $primary-color;
        background: transparent;
        border-bottom: 2px solid lighten($link-hover-color, 20%);
      }

      &:active,
      &:focus {
        background: transparent;
        border-bottom: 2px dashed lighten($link-hover-color, 20%);
      }
    }
  }

  .front-page {
    h2 {
      a.view-all {
        background: rgba(0, 0, 0, 0.2);
        color: darken($foreground, 10%);
        &:hover, &:focus {
          background: black;
          color: $foreground;
        }
      }
    }
  }

  .post,
  .page {
    a:not(.button):not(.anchor):not(.gatsby-resp-image-link) {
      border-bottom: 2px solid transparent;

      &:hover {
        color: $primary-color;
        background: transparent;
        border-bottom: 2px solid lighten($link-hover-color, 20%);
      }

      &:active,
      &:focus {
        background: transparent;
        border-bottom: 2px dashed lighten($link-hover-color, 20%);
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  :not(pre) > code {
    background: rgba(255, 255, 255, 0.1);
    color: $foreground;
  }

  .nav {
    background: $background;
    border-color: $background;

    &.scroll {
      background: darken($background, 5%);
      border-color: darken($background, 5%);
    }

    .brand a {
      color: lighten($foreground, 5%);

      &:hover {
        color: #eee;
      }
    }

    .links a {
      color: darken($foreground, 20%);

      &:hover,
      &.active {
        color: $foreground;
      }
    }
  }

  .note {
    background: transparent;
    border-color: transparent;

    .note-container {
      background: darken($background, 5%);
    }
  }

  p,
  ul,
  ol,
  li {
    color: $foreground;
  }

  h2 {
    border-color: #303030;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #cecece;
  }

  .posts {
    &.simple a .each {
      border-color: transparent;

      h2 {
        color: lighten($comment, 10%);
      }

      &:hover {
        background: $accent;
        border-color: $accent;
      }
    }

    a {
      .each {
        h2 {
          color: #ccc;
        }

        border: 2px solid transparent;
        border-bottom-color: $accent;

        &:hover {
          background: $accent !important;
          border-color: $accent;

          h2 {
            color: white;
          }

          background: transparent;
        }
      }

      .excerpt {
        color: $comment;
      }
    }
  }

  .simple-posts {
    a {
      .each {
        h2 {
          color: lighten($comment, 10%);
        }

        &:hover {
          border: 2px solid $accent;
          background: $accent;

          h2 {
            color: white;
          }
        }
      }
    }
  }

  .tag-container {
    span {
      color: $foreground;
      background: rgba(0, 0, 0, 0.2);
      border: none;

      .count {
        color: $secondary-color;
      }

      &:hover,
      &:active,
      &:focus {
        border: none;
        background: #111;
        color: white;
      }
    }
  }

  .projects {
    h2 {
      color: $foreground;

      a {
        color: $foreground;
      }
    }

    p {
      color: $comment;
    }
  }

  @include small-breakpoint {
    .projects .each {
      border-bottom: 2px solid lighten($background, 3%);

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .post-meta {
    color: $comment;
  }

  th {
    border-bottom: 2px solid darken($background, 5%);
  }

  // Extra border above footer
  tfoot th {
    border-top: 2px solid darken($background, 8%);
  }

  td {
    border-bottom: 1px solid darken($background, 8%);
  }

  tbody tr:nth-child(even) {
    background-color: lighten($background, 5%);
  }

  pre code {
    background: #3a3a3a;
  }

  blockquote {
    border: 2px solid #393939;
    background: rgba(0, 0, 0, 0.2);

    p {
      color: $yellow;
    }

    a {
      color: lighten($yellow, 25%) !important;
      border-bottom: $yellow !important;

      &:hover {
        color: darken($yellow, 15%) !important;
        background: #111 !important;
      }
    }

    &.quotation {
      border-color: #3a3a3a;
      background: rgba(0, 0, 0, 0.2);
      color: $yellow;

      cite {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  cite {
    color: rgba(255, 255, 255, 0.4);
  }

  .footer {
    color: $foreground;

    strong {
      color: $foreground;
    }

    a {
      color: darken($foreground, 20%);

      &:hover {
        color: lighten($foreground, 10%);
      }
    }
  }

  #{$forms} {
    color: $foreground;
    border: 2px solid #393939;
    background: #222 !important;

    &:hover {
      border: 2px solid #444;
    }

    &:active,
    &:focus {
      border: 2px solid $primary-color;
    }
  }

  #{$buttons} {
    color: $primary-color;
    border: 2px solid darken($primary-color, 10%);
    background: rgba(0, 0, 0, 0.2) !important;

    &:disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.3;
    }

    &:hover,
    &:focus,
    &:active {
      border: 2px solid darken($primary-color, 10%);
      background: black !important;
      color: darken($primary-color, 10%);
    }
  }

  .donate-button {
    background: transparent;
  }

  .new,
  .popular {
    background: rgba(0, 0, 0, 0.2);
  }

  .button.muted-button,
  a.button.muted-bottom {
    color: $comment;
    border: 2px solid $comment;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $foreground;
      background: transparent;
      color: $foreground;
    }
  }

  button.dark-switcher {
    border: none !important;
    background: transparent !important;
  }

  pre.language-terminal code.language-terminal {
    border: 1px solid #666;
    background: #111;
    color: #ccc;

    &::before {
      background: $accent;
      color: #888;
    }
  }

  .newsletter-section {
    border-color: #3a3a3a;
    background: rgba(0, 0, 0, 0.2);
  }

  .category-container {
    .category-filter {
      padding: 0.5rem 1rem;
      background: rgba(0, 0, 0, 0.2);
      border-radius: $border-radius;
      margin-right: 0.5rem;
      font-weight: 600;
      color: $primary-color;
      cursor: pointer;

      &.active {
        background: $primary-color !important;
        color: white !important;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        background: #111;
        color: darken($primary-color, 10%);
      }
    }
  }

  .filter-count {
    color: $primary-color;
  }

  .comments .comment header h2 {
    color: lighten($foreground, 12%);
  }

  .comments .comment.reply {
    border: 2px solid #393939;
    background: rgba(0, 0, 0, 0.2);
  }

  mark {
    background: darken($primary-color, 20%);
    color: white;
  }

  ::selection {
    background: $primary-color;
    color: white;
  }
}
