*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;

  line-height: 1.6;
  font-size: 16px;
  font-weight: normal;
  font-kerning: normal;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

p,
ul,
ol,
ul,
table,
blockquote {
  color: var(--font-color-base);
}

p,
ul,
ol {
  -webkit-font-smoothing: auto;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 1.5rem;
  letter-spacing: -0.01rem;
}

ul {
  padding-left: 1.5rem;
}

ul li ul,
ol li ol {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

li {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
}

li::marker {
  font-size: 1.1rem;
  line-height: 1;
  color: var(--marker);
}

main {
  margin-top: 60px;
}

/* Blockquote */

blockquote {
  margin: 1.5rem 0;
  border-left: 4px solid var(--indigo-light);
  margin-left: 0;
  padding: 1rem;
  background: var(--blockquote-background);
  border-radius: var(--border-radius);
}

blockquote p {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
}

blockquote p:last-of-type {
  margin: 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color-heading);
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 600;
  scroll-margin-top: 80px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h2 + h3 {
  margin-top: 1.5rem !important;
}

h2 {
  font-size: 1.9rem;
  margin: 0 0 1rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color-heading);
  letter-spacing: -0.03rem;
}

h2 code {
  font-size: 1.9rem !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--font-color-heading);
  font-family: var(--font-family-heading);
}

h3 code {
  font-size: 1.5rem !important;
}

h4,
h4 code {
  color: var(--font-color-base);
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  color: var(--font-color-base);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-family: var(--font-family-heading);
}

h2.home-heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
}

h2.home-heading .title {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  font-family: var(--font-family-base);
  font-weight: 700;
  letter-spacing: -0.03rem;
}

@media screen and (min-width: 800px) {
  h2.home-heading .title {
    font-size: 1.6rem;
  }
}

/* Table */

table {
  border: 1px solid var(--border-color);
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

td,
th {
  hyphens: auto;
  padding: 0.5rem;
  text-align: left;
  word-break: break-word;
  border-bottom: 1px solid var(--border-color);
}

th {
  background: var(--card-background-color);
  border-bottom: 2px solid var(--border-color);
}

img {
  display: block;
  max-width: 100%;
}

/* Containers */

.container {
  max-width: var(--content-width);
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.segment {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.segment.small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.segment.large {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 700px) {
  .segment {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .segment.small {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
