button,
a.button {
  -webkit-appearance: none;
  background: var(--button-background-color);
  display: inline-flex;
  align-items: center;
  padding: 0.6rem 1rem;
  font-family: var(--font-family-base);
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--font-color-base);
  border: 1px solid var(--border-color);
  gap: 0.25rem;
}

button img,
a.button img {
  max-height: 20px;
  margin-right: 0.5rem;
}

button:hover,
a.button:hover {
  color: var(--font-color-bright);
  border-color: var(--border-color-hover);
}
