/*! Primitive
  by Tania Rascia */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Configuration
@import 'base/variables';
@import 'base/mixins';

// Reset
@import 'base/reset';

// Components
@import 'components/scaffolding';
@import 'components/helpers';
@import 'components/buttons';
@import 'components/forms';
@import 'components/tables';
@import 'components/navigation';
@import 'components/layout';
@import 'components/new-moon';

// Themes

@import 'themes/dark';
@import 'themes/404';
