.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 1rem 0;
  height: 60px;
  background: var(--navbar);
  overflow: hidden;
}

.navigation .container {
  display: flex;
  align-items: flex-end;
  gap: 5rem;
}

.navigation a,
.navigation a:hover {
  text-decoration: none;
  background: transparent;
}

.navigation a.item.brand:hover {
  border-color: var(--rainbow-2);
}

.navigation .logo {
  height: 22px;
  width: 22px;
}

.navigation nav {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

.navigation a.item,
.navigation button.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
  line-height: 1;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding: 0.1rem;
  margin: 0 0.5rem;
}

.navigation a.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.2;
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
  margin-right: 1rem;
  border-bottom: 2px solid transparent;
}

.navigation a.item:hover,
.navigation button.item:hover,
.navigation a.item.active,
.navigation button.item.active {
  color: white;
}

.navigation a.item.about-me:hover,
.navigation a.item.about-me.active {
  border-color: var(--rainbow-3);
}

.navigation a.item.writing:hover,
.navigation a.item.writing.active {
  border-color: var(--rainbow-4);
}

.navigation a.item.projects:hover,
.navigation a.item.projects.active {
  border-color: var(--rainbow-5);
}

.navigation a.item.git-hub:hover,
.navigation a.item.git-hub.active {
  border-color: var(--rainbow-1);
}
