@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* Colors */
  --gray-0: #f9f9f9;
  --gray-05: #f6f6f6;
  --gray-1: #eee;
  --gray-2: #e6e6e6;
  --gray-3: #ddd;
  --gray-4: #bbb;
  --gray-5: #999;
  --gray-6: #666;
  --gray-65: #555;
  --gray-7: #2c2c2c;
  --gray-8: #252525;
  --gray-9: #1f1f1f;
  --gray-10: #181818;

  --green: #14ae73;
  --green-1: #95cd7f;
  --green-2: #73b18a;
  --green-3: #4d8994;
  --green-4: #30619d;
  --green-5: #30379d;

  --red: #f34646;
  --red-1: #fdd94a;
  --red-2: #e0a944;
  --red-3: #d37d36;
  --red-4: #cd583c;
  --red-5: #ab2e3f;

  --blue: #07a7e6;
  --blue-1: #70bdee;
  --blue-2: #618be1;
  --blue-3: #5b5ed5;
  --blue-4: #623ac6;
  --blue-5: #58119f;

  --rainbow-1: #ff67f7;
  --rainbow-2: #9b78fa;
  --rainbow-3: #59abf7;
  --rainbow-4: #5eddac;
  --rainbow-5: #f6cd5d;

  --orange: #ff7e22;
  --yellow: #fca62a;
  --pink: #f57ad0;
  --purple: #673ece;
  --indigo: #5a43f1;
  --indigo-dark: #4509cf;
  --indigo-light: #969bf6;
  --indigo-muted: #f1f2fd;

  /* Font family */
  --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, 'IBM Plex Mono', Menlo, monospace;
  --font-family-heading: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Arial, sans-serif;
  --font-family-nav: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif;

  /* Font color */
  --font-color-base: var(--gray-7);
  --font-color-muted: var(--gray-6);
  --font-color-heading: var(--gray-8);
  --font-color-heading3: var(--gray-7);
  --font-color-bright: var(--gray-9);
  --font-color-hero-heading: var(--gray-0);

  /* Borders */
  --border-color: var(--gray-3);
  --border-color-hover: var(--gray-6);
  --border-radius: 6px;

  /* Elements */
  --background-color: #eee;
  --card-background-color: var(--gray-0);
  --button-background-color: var(--gray-05);
  --marker: var(--indigo);
  --link: var(--indigo);
  --link-hover-color: var(--indigo-muted);
  --navbar: var(--gray-1);
  --navbar-border: var(--gray-2);
  --navbar-color: var(--gray-8);
  --navbar-color-hover: var(--gray-9);
  --year: var(--green);
  --star: var(--yellow);
  --post-time-color: var(--gray-6);
  --card-time-color: var(--gray-5);
  --project-time-color: var(--font-color-muted);
  --highlight-color: var(--green);
  --blockquote-background: var(--indigo-muted);
  --file-background: #eee;
  --inline-code-background-color: var(--gray-0);
  --theme-button-background: var(--gray-1);
  --theme-button-background-hover: var(--gray-2);
  --theme-button-border: var(--gray-3);
  --theme-button-border-hover: var(--gray-5);
  --theme-button-color: var(--gray-7);
  --theme-button-color-hover: var(--gray-9);
  --category-link: #dd4eb2;
  --scrollbar-color: var(--gray-3);
  --scrollbar-track: var(--gray-4);

  /* Sizs */
  --content-width: 1160px;
  --content-width--small: 560px;
  --content-width--medium: 700px;
  --navbar-height-large: 80px;
  --navbar-height-small: 60px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.6;
  font-size: 16px;
  font-weight: normal;
  font-kerning: normal;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

a {
  color: var(--link);
  text-decoration: none;
}

p,
ul,
ol,
ul,
table,
blockquote {
  font-size: 1rem;
  color: var(--font-color-base);
}

@media screen and (min-width: 700px) {
  p,
  ul,
  ol,
  ul,
  table,
  blockquote {
    letter-spacing: -0.01rem;
    font-size: 1.05rem;
    line-height: 1.625;
  }
}

p,
ul,
ol {
  -webkit-font-smoothing: auto;
  line-height: 1.625;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul {
  padding-left: 1.5rem;
}

ul li ul,
ol li ol {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

li {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
}

li::marker {
  font-size: 1.1rem;
  line-height: 1;
  color: var(--marker);
}

main {
  margin-top: var(--navbar-height-large);
}

/* Blockquote */

blockquote {
  margin: 2rem 0;
  border: 1px solid var(--indigo-light);
  border-left: 6px solid var(--indigo-light);
  margin-left: 0;
  padding: 1.5rem;
  background: var(--blockquote-background);
  border-radius: var(--border-radius);
}

blockquote p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

blockquote *:last-child {
  margin: 0;
}

blockquote ul {
  margin-top: 1.5rem;
}

blockquote strong {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  font-weight: 700;
}

blockquote.quotation {
  background: transparent;
  border: none;
  border-left: 12px solid var(--border-color);
  border-radius: 0;
  font-family: 'Georgia';
  font-style: italic;
  font-size: 1.1rem;
  padding: 0 0 0 1.5rem;
  color: var(--font-color-base);
}

blockquote.quotation cite {
  margin-top: 0.5rem;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: block;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color-heading);
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 600;
  scroll-margin-top: 3rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3.5rem;
}

h2 + h3 {
  margin-top: 1.5rem !important;
}

h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem;
  font-weight: 700;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--border-color);
  font-family: var(--font-family-nav);
  color: var(--font-color-heading);
  letter-spacing: -0.05rem;
}

h2.year {
  border-bottom: none;
  font-size: 2rem;
}

h2 code {
  font-size: 1.7rem !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  color: var(--font-color-heading3);
  font-family: var(--font-family-heading);
}

h3 code {
  font-size: 1.4rem !important;
}

@media screen and (min-width: 700px) {
  main {
    margin-top: 6rem;
  }

  h2 {
    font-size: 2rem;
  }

  h2 code {
    font-size: 1.9rem !important;
  }

  h2.year {
    border-bottom: none;
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.8rem;
    letter-spacing: -0.02rem;
  }

  h3 code {
    font-size: 1.85rem !important;
  }
}

h4,
h4 code {
  color: var(--font-color-base);
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  color: var(--font-color-base);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: var(--font-family-heading);
}

h2.home-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
}

h2.home-heading .title {
  font-size: 1.7rem;
  margin-bottom: 0;
  font-family: var(--font-family-base);
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  h2.home-heading {
    gap: 2rem;
  }

  h2.home-heading .title {
    font-size: 2rem;
  }
}

/* Table */

table {
  border: 1px solid var(--border-color);
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

td,
th {
  hyphens: auto;
  padding: 0.5rem;
  text-align: left;
  word-break: break-word;
  border-bottom: 1px solid var(--border-color);
}

th {
  background: var(--card-background-color);
  border-bottom: 2px solid var(--border-color);
}

img {
  display: block;
  max-width: 100%;
}

mark {
  font-weight: 600;
  background: var(--red-1);
}

u {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

/* Containers */

.container {
  max-width: var(--content-width);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .container {
    padding: 0 2rem;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.segment {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.segment.small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.segment.large {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.segment.first {
  margin-top: 3rem;
}

@media screen and (min-width: 700px) {
  .segment {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .segment.large {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .segment.small {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* Buttons */

button,
a.button {
  -webkit-appearance: none;
  background: var(--button-background-color);
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.2rem;
  font-family: var(--font-family-nav);
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--font-color-base);
  border: 1px solid var(--border-color);
  gap: 0.25rem;
  letter-spacing: 0;
  white-space: nowrap;
}

button.large,
a.button.large {
  padding: 1rem 1.75rem;
  font-size: 1.1rem;
  font-weight: 400;
}

button.small,
a.button.small {
  padding: 0.5rem 0.6rem;
  font-size: 0.9rem;
}

a.button.highlighted {
  font-weight: 500;
  text-decoration: none;
  color: var(--highlight-color);
}

a.button.highlighted:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}

button img,
a.button img {
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  margin-right: 0.25rem;
}

button:hover,
a.button:hover {
  color: var(--font-color-bright);
  border-color: var(--border-color-hover);
}

/* Navigation */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: var(--background-color);
  height: var(--navbar-height-small);
  font-family: var(--font-family-nav);
  border-bottom: 1px solid var(--border-color);
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height-small);
}

.navigation .nav-wrapper {
  display: flex;
}

.navigation a,
.navigation a:hover {
  text-decoration: none;
  background: transparent;
}

.navigation .item.brand span,
.theme-toggle span {
  display: none;
}

.navigation .logo {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
}

.navigation nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.navigation a.item,
.navigation button.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--navbar-color);
  padding: 0;
  border: none;
  border-radius: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin: 0 0.3rem;
}

.nav-item-outer {
  display: flex;
  align-items: center;
}

.nav-image {
  display: none;
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
}

.navigation a.item.brand {
  display: none;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--navbar-color);
  margin: 0;
  color: var(--theme-button-color);
  align-items: center;
  font-family: var(--font-family-base);
  line-height: 1;
  margin-right: 0.5rem;
  padding: 0;
}

.navigation a.item:hover,
.navigation button.item:hover,
.navigation a.item.active,
.navigation button.item.active {
  color: var(--navbar-color-hover);
}

.navigation a.item.home:hover,
.navigation a.item.home.active,
.navigation a.item.illustration:hover,
.navigation a.item.illustration.active {
  border-bottom-color: var(--indigo);
}

.navigation a.item.about:hover,
.navigation a.item.about.active {
  border-bottom-color: var(--rainbow-3);
}

.navigation a.item.blog:hover,
.navigation a.item.blog.active {
  border-bottom-color: var(--rainbow-4);
}

.navigation a.item.projects:hover,
.navigation a.item.projects.active {
  border-bottom-color: var(--rainbow-5);
}

.navigation a.item.git-hub:hover,
.navigation a.item.git-hub.active {
  border-bottom-color: var(--rainbow-1);
}

.theme-toggle {
  align-self: center;
}

.theme-toggle button img {
  margin: 0;
}

.theme-toggle button {
  padding: 0.25rem;
}

@media screen and (min-width: 700px) {
  .navigation {
    padding-top: 3rem;
    position: static;
    height: auto;
    border-bottom: none;
  }

  .navigation .nav-wrapper {
    display: block;
  }

  .navigation a.item {
    font-size: 1.05rem;
    margin: 0 0.3rem;
  }

  .navigation a.item.brand {
    display: inline-flex;
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 1.25rem;
  }

  .navigation a.item.brand span,
  .theme-toggle span {
    display: block;
  }

  .navigation .logo {
    height: 24px;
    width: 24px;
    max-height: 24px;
    max-width: 24px;
    margin-right: 0.25rem;
  }

  .navigation nav {
    gap: 1.25rem;
  }

  .navigation,
  .navigation .container {
    height: var(--navbar-height-large);
  }

  .theme-toggle button {
    padding: 0.5rem;
  }
}

/* Card */

.star {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--star);
  font-family: var(--font-family-monospace);
}

.star a {
  color: var(--font-color-muted);
}

.star a:hover {
  color: var(--font-color-bright);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.stars {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--card-background-color);
  padding: 1rem;
  position: relative;
}

@media screen and (min-width: 700px) {
  .card.anchored {
    padding-bottom: 3.5rem;
  }

  .card.anchored.large {
    padding-bottom: 5rem;
  }
}

.card a.card-header,
.card h2 {
  display: block;
  font-size: 1rem;
  line-height: 1.3;
  font-family: var(--font-family-base);
  font-weight: 500;
  color: var(--font-color-heading);
  margin: 0.1rem 0 0.5rem;
  padding: 0;
  border: 0;
  text-decoration: none;
}

.card a.card-header:hover,
.card h2:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  color: var(--font-color-bright);
}

.card p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--font-color-muted);
  font-family: var(--font-family-base);
}

.card.single {
  padding: 1.5rem;
}

.card.single p {
  margin: 0 0 1.5rem;
}

@media screen and (min-width: 700px) {
  .card.single {
    padding: 2rem;
  }
}

.card time {
  display: block;
  font-family: var(--font-family-monospace);
  color: var(--card-time-color);
  font-size: 0.9rem;
  letter-spacing: -0.01rem;
}

.card.muted {
  border: 1px solid transparent;
  padding: 0;
  background: transparent;
  align-items: center;
}

.card.muted .gatsby-image-wrapper {
  height: 30px;
  width: 30px;
  max-height: 30px !important;
  max-width: 30px !important;
}

.card.muted time {
  display: none;
  color: var(--font-color-muted);
}

.card.muted h2 {
  margin: 0.25rem 0 1rem;
}

@media screen and (min-width: 700px) {
  .card {
    padding: 1.5rem;
  }

  .card.muted time {
    display: block;
  }

  .card.muted .gatsby-image-wrapper {
    height: 45px;
    width: 45px;
    max-height: 45px !important;
    max-width: 45px !important;
  }

  .card a.card-header,
  .card h2 {
    font-weight: 500;
    font-size: 1.1rem;
  }

  .card.muted {
    background: transparent;
    padding: 1rem;
    border: 1px solid var(--border-color);
    align-items: center;
  }

  .stars {
    top: 1.5rem;
    right: 1.5rem;
  }
}

/* Layout wrapper */

main {
  flex: 1;
}

/* Hero */

.hero-wrapper {
  display: grid;
}

.hero {
  padding: 1rem 0 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero h1 {
  font-size: 2.2rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--font-color-heading);
  margin: 0;
}

p.hero-description {
  -webkit-font-smoothing: antialiased;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--font-color-base);
  font-weight: 500;
  letter-spacing: -0.01rem;
}

p.hero-description a {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

p.hero-description a:hover {
  text-decoration: none;
}

.hero .sub-title {
  color: var(--font-color-muted);
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 700px) {
  .hero-wrapper {
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 1.5rem;
  }

  p.hero-description {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .hero {
    padding: 1.5rem 0 0.5rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero.index {
    padding: 5rem 0 3rem;
  }
}

.highlight {
  color: var(--highlight-color);
}

/* Preview */

.highlight-preview {
  display: grid;
  gap: 0.5rem;
}

@media screen and (min-width: 700px) {
  .highlight-preview {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1060px) {
  .highlight-preview {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-preview,
.image-preview {
  display: grid;
  gap: 1rem;
}

.image-preview {
  grid-template-columns: repeat(2, 1fr);
}

.image-thumbnail {
  height: 150px;
}

@media screen and (min-width: 700px) {
  .project-preview {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-preview {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-thumbnail {
    height: 220px;
  }
}

@media screen and (min-width: 1060px) {
  .project-preview {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-preview {
    grid-template-columns: repeat(4, 1fr);
  }

  .image-thumbnail {
    height: 250px;
  }
}

.post-preview .card p {
  margin-bottom: 1rem;
}

.project-preview .card time {
  color: var(--project-time-color);
}

.post-preview > div {
  flex: 1;
}

.post-preview {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .post-preview {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.post-preview > div {
  flex: 1;
}

.post-preview a.button {
  font-size: 0.9rem;
  padding: 0.5rem 0.6rem;
}

/* Pages */

.post-content a {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.post-content a:hover {
  background: var(--link);
  color: var(--link-hover-color);
  text-decoration: none;
}

a.anchor,
a.anchor:hover {
  color: var(--link);
  background: transparent !important;
}

a.anchor svg {
  fill: var(--link);
}

/* Posts */

a.post {
  display: flex;
  gap: 1rem;
  padding: 0.4rem 0;
  background: transparent;
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
}

a.post:last-of-type {
  border: none;
}

a.post:hover,
a.post:hover h3 {
  color: var(--font-color-bright);
}

a.post:hover h3 {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

a.post h3 {
  margin: 0;
  font-size: 1rem;
  color: var(--font-color-heading);
  font-weight: 500;
  font-family: var(--font-family-base);
  line-height: 1.3;
}

a.post time {
  display: none;
  font-family: var(--font-family-monospace);
  color: var(--post-time-color);
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  margin-left: auto;
}

@media screen and (min-width: 700px) {
  .posts.newspaper {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    column-gap: 2rem;
  }

  a.post time {
    display: block;
  }

  a.post h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

/* Grid */

.grid {
  display: block;
}

@media screen and (min-width: 1060px) {
  .grid {
    display: grid;
    grid-template-columns: auto 300px;
    gap: 6rem;
  }
}

.article-content {
  max-width: 100%;
  min-width: 0;
}

.links {
  margin-top: 1rem;
}

/* Sidebar */

.post-sidebar-card {
  border: 1px solid var(--border-color);
  background: var(--card-background-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  margin: 1rem 0;
}

.post-sidebar h2 {
  color: var(--font-color-heading);
  font-size: 0.9rem;
  border: none;
  margin: 0 0 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
}

.post-sidebar p,
.post-sidebar ul {
  font-size: 0.9rem;
}

.post-sidebar p:last-of-type {
  margin-bottom: 0;
}

.post-sidebar .tags {
  gap: 0.3rem;
}

.post-sidebar a {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.post-sidebar a:hover {
  text-decoration: none;
}

.sidebar-avatar {
  display: block;
  border-radius: var(--border-radius);
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 1rem;
}

.list a {
  background-color: transparent;
  color: var(--font-color-base);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.1rem 0.5rem;
  margin: 0 -0.3rem;
  border-radius: var(--border-radius);
}

.list a:hover {
  background: rgba(255, 255, 255, 0.05);
  color: var(--highlight-color);
  text-decoration: none;
}

/* Tags and categories */

.tags,
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

a.tag {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--font-color-base);
  background: var(--button-background-color) !important;
  text-decoration: none;
}

a.tag:hover {
  color: var(--font-color-bright);
  border-color: var(--highlight-color);
  text-decoration: none;
}

a.tag.active {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  font-weight: 600;
}

@media screen and (min-width: 700px) {
  .categories.anchored,
  .links.anchored {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
}

a.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

a.category.active {
  color: var(--highlight-color);
}

a.category:hover .count,
a.category.active .count {
  color: var(--highlight-color);
}

.category .name {
  font-size: 0.9rem;
}

.category .count {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--font-color-muted);
  font-family: var(--font-family-monospace);
}

/* Helpers */

.width.small {
  max-width: var(--content-width--small);
}
.width.medium {
  max-width: var(--content-width--medium);
}

.flex {
  display: flex;
  gap: 1rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.desktop-only {
  display: none !important;
}

@media screen and (min-width: 700px) {
  .desktop-only {
    display: flex !important;
  }
}

@media screen and (min-width: 700px) {
  .mobile-only {
    display: none !important;
  }

  .navigation a.item.about {
    margin-left: -1rem;
  }
}

/* Article */

.post-image {
  margin-top: 2rem;
  text-align: center;
}

.mobile-post-image {
  margin-bottom: 1rem;
}

.mobile-post-image .gatsby-image-wrapper {
  max-height: 50px;
  max-width: 50px;
}

@media screen and (min-width: 1060px) {
  .mobile-post-image {
    display: none;
  }
}

.post-header {
  padding: 1rem 0 0.5rem;
}

.post-header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}

@media screen and (min-width: 700px) {
  .post-header {
    /* padding: 3rem 0 1.5rem; */
  }

  .post-header h1 {
    font-size: 2.6rem;
    line-height: 1.2;
  }
}

.post-header time {
  display: block;
  font-family: var(--font-family-monospace);
  color: var(--font-color-muted);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

/* Footer */

.footer {
  padding: 3rem 0;
  font-family: var(--post-font-family);
}

.footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.footer img {
  display: inline-block;
  max-height: 20px;
  width: auto;
}

.footer nav {
  display: flex;
  gap: 0.25rem;
  margin: 0 1rem;
}

.footer a,
.footer span {
  display: flex;
  align-items: center;
  color: var(--font-color-base);
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0 0.5rem;
}

.footer a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

/* Gatsby */

.gatsby-resp-image-wrapper {
  margin-left: 0 !important;
}

a.gatsby-resp-image-link {
  background: transparent !important;
}

/* Colors */

.circles {
  display: flex;
  gap: 1rem;
}

.circle {
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  margin: 0.5rem 0;
  border-radius: 50%;
}

@media screen and (min-width: 700px) {
  .circle {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
  }
}

.red-1 {
  background: var(--red-1);
}

.red-2 {
  background: var(--red-2);
}

.red-3 {
  background: var(--red-3);
}

.red-4 {
  background: var(--red-4);
}

.red-5 {
  background: var(--red-5);
}

.green-1 {
  background: var(--green-1);
}

.green-2 {
  background: var(--green-2);
}

.green-3 {
  background: var(--green-3);
}

.green-4 {
  background: var(--green-4);
}

.green-5 {
  background: var(--green-5);
}

.blue-1 {
  background: var(--blue-1);
}

.blue-2 {
  background: var(--blue-2);
}

.blue-3 {
  background: var(--blue-3);
}

.blue-4 {
  background: var(--blue-4);
}

.blue-5 {
  background: var(--blue-5);
}

.rainbow-1 {
  background: var(--rainbow-1);
}

.rainbow-2 {
  background: var(--rainbow-2);
}

.rainbow-3 {
  background: var(--rainbow-3);
}

.rainbow-4 {
  background: var(--rainbow-4);
}

.rainbow-5 {
  background: var(--rainbow-5);
}

.image {
  max-width: 100%;
}

.hero-image {
  max-width: 250px;
}

@media screen and (min-width: 700px) {
  .hero-image {
    max-width: 100%;
  }
}

.image-thumbnail {
  border-radius: var(--border-radius);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-muted {
  color: var(--font-color-base);
}

.text-medium,
p.text-medium {
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 2px;
}
