@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:wght@100..800&display=swap');

:root {
  --primary: #959af8;
  --primary-rgb: 149, 154, 248;
  --green-rgb: 146, 209, 146;
  --yellow: #ffd479;

  --gray-0: #f9f9f9;
  --gray-05: #f6f6f6;
  --gray-1: #eee;
  --gray-2: #e6e6e6;
  --gray-3: #ccc;
  --gray-4: #bbb;
  --gray-5: #999;
  --gray-6: #575757;
  --gray-65: #3d3d3d;
  --gray-7: #2c2c2c;
  --gray-8: #252525;
  --gray-9: #1f1f1f;
  --gray-10: #181818;
  --gray-11: #111;
  --gray-12: #0f0f0f;

  /* Colors */
  --color-highlighted: light-dark(#31aa2f, var(--yellow));
  --color-background: light-dark(white, var(--gray-9));
  --color-background-button: light-dark(
    rgba(0, 0, 0, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  --color-background-navbar: light-dark(var(--gray-05), var(--gray-10));
  --color-background-sidebar: light-dark(var(--gray-05), var(--gray-10));
  --color-background-code: light-dark(var(--gray-05), var(--gray-10));
  --color-background-blockquote: light-dark(
    rgba(var(--primary-rgb), 0.1),
    rgba(var(--primary-rgb), 0.1)
  );
  --color-background-navbar-link-hover: light-dark(
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.25)
  );

  --color-text: light-dark(var(--gray-7), var(--gray-3));
  --color-text-emphasized: light-dark(var(--gray-10), var(--gray-0));
  --color-text-muted: light-dark(var(--gray-6), var(--gray-5));
  --color-text-navbar-link: light-dark(var(--gray-7), var(--gray-0));
  --color-text-navbar-link-hover: light-dark(var(--gray-10), white);

  --color-text-link: light-dark(#4850e5, var(--primary));
  --color-text-link-hover: light-dark(#363fe3, #c1c3f8);
  --color-text-button-hover: light-dark(var(--gray-11), var(--primary));

  --color-border: light-dark(var(--gray-3), var(--gray-65));
  --color-border-hover: light-dark(var(--gray-5), var(--gray-3));
  --color-border-button-hover: light-dark(var(--gray-5), var(--primary));
  --color-border-blockquote: light-dark(
    rgba(var(--primary-rgb), 0.8),
    rgba(var(--primary-rgb), 1)
  );
  --color-marker: light-dark(var(--gray-7), var(--gray-6));

  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-monospace: Menlo, 'JetBrains Mono', monospace;

  --border-radius: 0.5rem;

  /* Layout */
  --navbar-height: 60px;
  --footer-height: 60px;
  --layout-width: 1440px;
  --content-width: 700px;
  --page-content-width: 900px;
  --sidebar-width: 260px;
  --post-sidebar-width: 280px;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text);
  background-color: var(--color-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--color-text-link);
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
    color: var(--color-text-link-hover);
  }

  &.anchor,
  &.anchor:hover {
    color: var(--color-text-link);
    background: transparent !important;

    svg {
      fill: var(--color-text-link);
    }

    &.before {
      padding-right: 0.5rem;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  a.button.small {
    padding: 0.4rem 0.5rem;
    font-size: 0.8rem;
    gap: 0.5rem;
  }

  .tag-count {
    color: var(--color-text-link);
  }

  &.active {
    color: var(--color-text-link);
    background: var(--color-background-navbar);
  }
}

body {
  margin: 0;
}

/* Headings */

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
}

h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;

  code {
    font-size: 1.6rem !important;
  }
}

h3 {
  font-size: 1.4rem;

  code {
    font-size: 1.4rem !important;
  }
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;

  code {
    font-size: 1.25rem !important;
  }
}

h5,
h5 code {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-text-emphasized);
  scroll-margin-top: calc(var(--navbar-height) + 2.5rem);
  line-height: 1.3;
}

h2,
h3,
h4,
h5,
p,
ul,
ol,
table,
blockquote {
  margin: 1.5rem 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 2.5rem;
}

h2:not(:first-child) {
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--color-border);
}

p,
ul,
ol {
  font-size: 1rem;
  line-height: 1.7;
}

ul {
  padding-left: 1rem;
}

li {
  line-height: 1.6;
  padding-bottom: 0.25rem;

  p {
    margin-top: 0;
  }
}

ul li ul,
ol li ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul li ul li {
  padding: 0;
}

li::marker {
  font-size: 1.1rem;
  line-height: 1;
  color: var(--color-marker);
}

mark {
  background: var(--yellow);
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--color-border);
}

td,
th {
  border: 1px solid var(--color-border);
  padding: 0.25rem 0.5rem;
  background: var(--color-background-sidebar);
}

th {
  border-bottom: 2px solid var(--color-border);
}

/* Buttons */

button,
a.button {
  display: inline-flex;
  align-items: center;
  background: var(--color-background-button);
  border: 1px solid var(--color-border);
  padding: 12px 16px;
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500 !important;
  color: var(--color-text-emphasized);
  gap: 0.25rem;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    border: 1px solid var(--color-border-button-hover);
    color: var(--color-text-button-hover);
  }

  &.active,
  &:hover.active {
    background: var(--color-background-navbar-link-hover);

    svg {
      color: var(--color-text-emphasized);
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &.small {
    font-size: 14px;
    padding: 6px 10px;
  }

  img,
  img {
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    margin-right: 0.25rem;
  }
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: var(--navbar-height);

  /* mobile */
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem;
}

.navbar-title {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  z-index: 3;
}

a.navbar-title-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-text-navbar-link);
  white-space: nowrap;
  font-weight: 600;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  width: 100%;
}

.navbar-section {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.navbar-section-search {
  display: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 2px;

  a {
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    padding: 0.75rem;
    color: var(--color-text-navbar-link);
    border-radius: var(--border-radius);
    text-decoration: none;

    &:hover {
      background: var(--color-background-navbar-link-hover);
      color: var(--color-text-navbar-link-hover);
    }

    &.active {
      color: var(--color-text-link);
    }
  }

  &.social {
    gap: 2px;

    a svg,
    svg {
      transition: all 0.2s ease-in-out;
      color: var(--color-text-muted);

      &:hover {
        color: var(--color-text-emphasized);
      }
    }
  }

  &.nav-items {
    display: none;
  }
}

button.navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 0.5rem;
  height: 40px;
  width: 40px;
  color: var(--color-text-navbar-link);

  img {
    margin: 0;
  }

  svg {
    color: var(--color-text-muted);
  }

  &:hover {
    border: none;
    background: var(--color-background-navbar-link-hover);
    color: var(--color-text-navbar-link-hover);

    svg {
      color: var(--color-text-navbar-link-hover);
    }
  }

  &.theme-switch-button {
    svg {
      color: light-dark(var(--primary), #ffd479);
    }

    &:hover {
      color: light-dark(var(--primary), #ffeea6);

      svg {
        color: light-dark(var(--color-text-link), #ffeea6);
      }
    }
  }
}

@media screen and (max-width: 899px) {
  .navbar-menu {
    &.nav-items {
      height: calc(100vh - var(--navbar-height));
      justify-content: center;

      a {
        font-size: 1.2rem;
      }

      &.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        margin-top: var(--navbar-height);
        background: var(--color-background-sidebar);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media screen and (min-width: 900px) {
  button.nav-menu-button {
    display: none;
  }

  .navbar-section {
    gap: 1.5rem;
  }

  .navbar-menu {
    &.nav-items {
      display: flex !important;
    }

    a {
      padding: 0.5rem 0.75rem;
    }
  }
}

@media screen and (min-width: 1020px) {
  .navbar {
    display: block;
    background: light-dark(rgba(255, 255, 255, 0.6), rgba(31, 31, 31, 0.6));
    backdrop-filter: blur(10px);
    padding: 0;
    border-bottom: none;
  }

  .navbar-container {
    border-bottom: 1px solid var(--color-border);
  }

  .navbar-title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    z-index: 3;
  }

  a.navbar-title-link {
    margin-left: 0.5rem;
  }

  .navbar-title-content {
    padding: 0 1rem;
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
  }

  .navbar-section-search {
    display: block;
  }

  .navbar-wrapper {
    margin-left: var(--sidebar-width);
  }
}

@media screen and (min-width: 1320px) {
  .navbar-wrapper {
    margin-left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .navbar-title {
    margin-left: calc((100% - var(--layout-width)) / 2);
  }

  .navbar-wrapper {
    margin-right: calc((100vw - var(--layout-width)) / 2);
    margin-left: calc(
      ((100vw - var(--layout-width)) / 2) + var(--sidebar-width)
    );
  }
}

a.navbar-icon {
  height: 40px !important;
  width: 40px !important;
}

.sidebar {
  display: block;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  padding-left: calc((100vw - var(--layout-width)) / 2);
  height: 100vh;
  background: var(--color-background-sidebar);
  overflow-y: auto;
}

.sidebar-wrapper {
  min-width: var(--sidebar-width);
  width: var(--sidebar-width);

  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: var(--navbar-height);
  margin-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid var(--color-border);
}

a.sidebar-title-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-text-navbar-link);
  white-space: nowrap;
}

.sidebar-logo {
  height: 22px;
  width: 22px;
  min-height: 22px;
  min-width: 22px;
}

.sidebar-section {
  margin: 1.5rem 1.5rem 1.5rem 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    padding-bottom: 0;
    border: none;
  }

  p,
  h2 {
    margin: 1rem 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    color: var(--color-text-muted);
    font-size: 14px;

    &:hover {
      color: var(--color-text-link-hover);
    }
  }
}

.sidebar-content {
  p {
    font-size: 14px;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

.avatar {
  border-radius: var(--border-radius);
  height: 50px;
  width: 50px;
}

/* Sidebar */

@media screen and (min-width: 1020px) {
  .sidebar {
    transform: translate3d(0, 0, 0);
  }
}

/* Main */

.main-wrapper {
  min-height: 100vh;
  padding-top: var(--navbar-height);
}

@media screen and (min-width: 1020px) {
  .main-wrapper {
    min-height: calc(100vh - var(--navbar-height));
    margin-left: var(--sidebar-width);
  }
}

@media screen and (min-width: 1440px) {
  .main-wrapper {
    margin-left: calc((100vw - var(--layout-width)) / 2 + var(--sidebar-width));
    margin-right: calc((100vw - var(--layout-width)) / 2);
  }
}

.main-contanier {
  display: block;
}

@media screen and (min-width: 1320px) {
  .main-container {
    display: flex;
    gap: 2rem;
    max-width: calc(100vw - calc(var(--sidebar-width) + 1rem));
  }
}

.main-content {
  flex-grow: 1;
  max-width: var(--content-width);
  padding: 3rem 2rem;
  margin-left: auto;
  margin-right: auto;

  &.page {
    max-width: var(--page-content-width);
  }
}

.post-sidebar {
  display: none;
  border-left: 1px solid var(--color-border);
  width: var(--post-sidebar-width);
  min-width: var(--post-sidebar-width);
}

.post-sidebar-thumbnail {
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

.post-sidebar-section {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 0;
  border-bottom: 1px solid var(--color-border);

  p {
    margin: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.post-sidebar-content {
  position: sticky;
  top: var(--navbar-height);
  padding-top: 3rem;
  height: calc(100vh - var(--navbar-height));
  min-height: calc(100vh - var(--navbar-height));
  overflow-y: hidden;
  width: var(--post-sidebar-width);
  padding-right: 1.5rem;
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0.5rem;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }

  p {
    font-size: 14px;
  }

  nav {
    margin-left: -12px;

    a {
      display: block;
      color: var(--color-text-muted);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: calc(var(--post-sidebar-width) - 2rem);
      padding: 8px 12px;
      border-radius: var(--border-radius);
      font-size: 14px;

      &:hover {
        color: var(--color-text-link-hover);
      }

      &.active {
        color: var(--color-text-link);
        background: var(--color-background-sidebar);
      }
    }

    ul,
    li,
    p {
      line-height: 1;
      padding: 0;
    }

    ul {
      margin: 0;
      padding-inline-start: 0;

      ul li > a {
        padding-left: 2rem;
      }

      ul li > a[href='#introduction'],
      ul li > a[href='#prerequisites'],
      ul li > a[href='#goals'] {
        padding-left: 12px;
      }
    }

    li {
      list-style-type: none;

      p {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1320px) {
  .post-sidebar {
    display: block;
  }
}

/* Hero */

.hero-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.hero {
  margin-bottom: 1.5rem;

  &.hero-index {
    h1 {
      font-size: 2.25rem;
    }
  }

  &.hero-post {
    h1 {
      font-size: 2rem;
    }
  }

  &.hero-taxonomy {
    h1 {
      margin-top: 0;
      font-size: 2.5rem;
    }
  }

  .sub-title {
    color: var(--color-text-muted);
    font-weight: 500;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 900px) {
  .hero {
    margin-bottom: 3rem;

    &.hero-index {
      h1 {
        font-size: 2.75rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  .hero-image {
    display: block;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .description {
    margin-bottom: 1.5rem;
  }
}

.section-index {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-border);
}

.hero-description {
  margin: 0 0 1.5rem 0;
  font-size: 1rem;
}

.hero-image {
  display: none;
}

@media screen and (min-width: 900px) {
  .hero-image {
    display: block;
    float: none;
    max-width: 200px;
  }

  .hero-description {
    font-size: 1.1rem;
  }
}

/* Posts */
a.post {
  display: flex;
  flex-direction: column-reverse;
  padding: 8px 0;
  text-decoration: none;
  border-radius: var(--border-radius);

  p {
    font-weight: 600;
    margin: 0;
    order: 2;
  }

  time {
    display: block;
    width: 150px;
    color: var(--color-text-muted);
    line-height: 1.7;
    order: 1;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1020px) {
  .hero-wrapper {
    flex-direction: row;
    gap: 3rem;
  }

  a.post {
    flex-direction: row;
    justify-content: space-between;
    margin-left: -8px;
    margin-right: -8px;
    padding: 2px 8px;

    p {
      order: 1;
    }

    time {
      order: 2;
    }

    &:hover {
      background: var(--color-background-sidebar);

      time {
        color: var(--color-text-emphasized);
      }
    }
  }
}

a time.new-post {
  color: var(--color-highlighted) !important;
}

.year {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-border);

  &:last-of-type {
    border-bottom: none;
  }
}

/* Article */

.main-article-thumbnail {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1320px) {
  .main-article-thumbnail {
    display: none !important;
  }
}

/* Cards */

.cards {
  display: grid;
  gap: 0.5rem;
}

@media screen and (min-width: 900px) {
  .cards {
    gap: 1rem;
  }
}

@media screen and (min-width: 1020px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1320px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Card */

.card {
  position: relative;
  padding: 1rem;
  background: var(--color-background-sidebar);
  border-radius: var(--border-radius);

  .card-links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  a {
    font-weight: 600;
  }

  &.card-highlight {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;

    div {
      color: var(--color-text-emphasized);
    }

    &:hover {
      div {
        color: var(--color-text-link-hover);
      }
    }

    .gatsby-image-wrapper {
      min-width: 40px;
      min-height: 40px;
    }
  }

  time {
    display: block;
    font-size: 14px;
    color: var(--color-text-muted);
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--color-text);
    line-height: 1.5;
    margin: 0.5rem 0 1rem;
  }
}

.stars {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.star {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--yellow);

  a {
    color: var(--color-text-emphasized);
  }
}

.image-thumbnail {
  margin-top: 1rem;
  height: 250px;
  border-radius: var(--border-radius);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Blockquote */

blockquote {
  padding: 1rem;
  margin: 1.5rem 0;
  border: 1px solid var(--color-border-blockquote);
  border-radius: var(--border-radius);
  background: var(--color-background-blockquote);
  color: var(--color-text-emphasized);
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;

  > * {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  ul {
    margin-top: 1.5rem;
  }

  strong {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    font-weight: 700;
  }

  &.quotation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    border: none;
    border-radius: 0;
    border-left: 12px solid var(--color-border);
    background: transparent;
    padding: 0 1rem;

    cite {
      display: block;
      margin-top: 1rem;
      text-align: right;
      font-size: 1rem;
      font-family: var(--font-family);
    }
  }
}

@media screen and (min-width: 900px) {
  blockquote {
    padding: 1.5rem;

    &.quotation {
      font-size: 1.2rem;
      padding: 0 1.5rem;

      p {
        font-size: 1.1rem;
      }
    }
  }
}

/* Image */

img {
  display: block;
  max-width: 100%;
}

img.image-float {
  margin: 1.5rem 0;
  max-width: 300px;
  height: auto;
}

@media screen and (min-width: 900px) {
  img.image-float {
    float: right;
    margin: 0 0 1.5rem 1.5rem;
    max-width: 300px;
    height: auto;
  }
}

/* Commets */

.comments {
  margin-top: 1.5rem;
  border-top: 1px solid var(--color-border);
  scroll-margin-top: var(--navbar-height);
}

/* Footer */

.footer {
  border-top: 1px solid var(--color-border);
  padding: 1.5rem 0;
  font-size: 13px;
}

a.footer-link {
  white-space: nowrap;
  color: var(--color-text-muted);

  &:hover {
    color: var(--color-text-link-hover);
  }
}

.floppy-logo {
  display: inline-block;
  height: 18px;
  width: 18px;
}

.footer-made-by {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  gap: 1.5rem;
  max-width: var(--page-content-width);
  margin: 0 auto;
}

.footer-menu {
  display: flex;
  gap: 0.75rem;
}

.footer-menu-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

@media screen and (min-width: 900px) {
  .footer {
    font-size: 14px;
  }

  .footer-menu {
    display: flex;
  }
}
