@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:wght@100..800&family=Gabarito:wght@400..900&display=swap');

:root {
  --primary: #9898ff;
  --primary-hover: #bebeff;
  --primary-light-muted: #508bc6;
  --primary-light: #3576b8;
  --primary-light-hover: #28629d;
  --primary-light-rgb: 53, 118, 184;
  --primary-rgb: 149, 154, 248;
  --green-rgb: 146, 209, 146;
  --yellow: #ffd479;
  --yellow-dark: #bf8301;
  --green: #5eddac;
  --light-yellow: #fcd37a;
  --pink: #f57ad0;
  --lavender: #a586fb;
  --blue: #989dfa;
  --light-blue: #6ab0f3;

  --gray-0: #fbfbfb;
  --gray-05: #f6f6f6;
  --gray-1: #eee;
  --gray-2: #e6e6e6;
  --gray-3: #ccc;
  --gray-4: #bbb;
  --gray-5: #999;
  --gray-6: #575757;
  --gray-65: #3d3d3d;
  --gray-7: #2c2c2c;
  --gray-8: #252525;
  --gray-9: #1f1f1f;
  --gray-10: #181818;
  --gray-11: #111;
  --gray-12: #0f0f0f;

  --beige-0: #fdf9ee;
  --beige-1: #fdf6e3;
  --beige-2: #eee8d5;
  --beige-3: #ded4b2;
  --beige-4: #c6ba93;

  /* Colors */
  --color-highlighted: light-dark(var(--yellow-dark), var(--yellow));
  --color-background: light-dark(var(--beige-0), var(--gray-10));
  --color-background-navbar: light-dark(var(--beige-2), var(--gray-10));
  --color-background-sidebar: light-dark(var(--beige-2), var(--gray-9));
  --color-background-input: light-dark(var(--beige-2), var(--gray-12));
  --color-background-code: light-dark(var(--beige-2), var(--gray-10));
  --color-background-blockquote: light-dark(
    rgba(var(--primary-light-rgb), 0.05),
    rgba(var(--primary-rgb), 0.1)
  );
  --color-background-navbar-link-hover: light-dark(
    rgba(0, 0, 0, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  --color-background-card: light-dark(var(--beige-1), var(--gray-9));

  --color-text: light-dark(var(--gray-7), var(--gray-3));
  --color-text-emphasized: light-dark(var(--gray-10), var(--gray-0));
  --color-text-muted: light-dark(var(--gray-6), var(--gray-5));
  --color-text-navbar-link: light-dark(var(--gray-7), var(--gray-0));
  --color-text-navbar-link-hover: light-dark(var(--gray-10), var(--primary));

  --color-text-link: light-dark(var(--primary-light), var(--primary));
  --color-text-link-hover: light-dark(var(--primary-light-hover), #c1c3f8);

  --color-border: light-dark(var(--beige-3), var(--gray-65));
  --color-border-muted: light-dark(var(--beige-2), var(--gray-8));
  --color-border-hover: light-dark(var(--beige-4), var(--gray-3));
  --color-border-blockquote: light-dark(
    rgba(var(--primary-light-rgb), 0.8),
    rgba(var(--primary-rgb), 1)
  );
  --color-border-card: light-dark(var(--beige-2), var(--gray-7));
  --color-marker: light-dark(var(--gray-7), var(--gray-6));

  --color-background-button: light-dark(
    var(--primary-light-muted),
    rgba(255, 255, 255, 0.05)
  );
  --color-background-button-hover: light-dark(
    var(--primary-light-hover),
    rgba(255, 255, 255, 0.05)
  );
  --color-border-button: light-dark(var(--primary-light-muted), var(--gray-65));
  --color-border-button-hover: light-dark(var(--primary-light), var(--primary));
  --color-background-button-card: light-dark(
    var(--beige-1),
    rgba(0, 0, 0, 0.1)
  );
  --color-text-button-card: light-dark(var(--primary-light), var(--gray-0));
  --color-text-button-card-hover: light-dark(var(--gray-0), var(--gray-0));
  --color-background-button-card-hover: light-dark(
    var(--primary-light),
    rgba(0, 0, 0, 0.1)
  );
  --color-text-button: light-dark(var(--gray-0), var(--gray-0));
  --color-text-button-hover: light-dark(var(--gray-0), var(--primary));
  --color-text-button-emphasized: light-dark(var(--gray-12), var(--primary));

  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, Avenir, Helvetica,
    Arial, sans-serif;
  --font-family-heading: 'Gabarito', -apple-system, BlinkMacSystemFont, 'Inter',
    Avenir, Helvetica, Arial, sans-serif;
  --font-family-monospace: Menlo, 'JetBrains Mono', monospace;

  --border-radius: 10px;
  --box-shadow-button: none; /* rgba(0, 5, 10, 0.24) 0px 3px 8px; */
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

  /* Layout */
  --navbar-height: 60px;
  --footer-height: 60px;
  --content-width: 740px;
  --layout-padding-vertical: 1.5rem;
  --layout-padding-horizontal: 1.5rem;
  --sidebar-width: 260px;
  --post-sidebar-width: 260px;
  --main-layout-width: calc(var(--post-sidebar-width) + var(--content-width));
  --font-size: 1rem;
  --anchor-padding: 0.25rem;
  --h1: 2.2rem;
  --h2: 1.8rem;
  --h3: 1.6rem;
  --h4: 1.2rem;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text);
  background-color: var(--color-background);
}

@media screen and (min-width: 600px) {
  :root {
    --layout-padding-vertical: 3rem;
    --layout-padding-horizontal: 2rem;
    --font-size: 1.05rem;
    --anchor-padding: 0.5rem;
    --h1: 2.8rem;
    --h2: 2.2rem;
    --h3: 1.8rem;
    --h4: 1.4rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--color-text-link);
  text-decoration: inherit;

  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    color: var(--color-text-link-hover);
  }

  &.anchor,
  &.anchor:hover {
    color: var(--color-text-link);
    background: transparent !important;

    svg {
      fill: var(--color-text-link);
    }

    &.before {
      padding-right: var(--anchor-padding);
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  a.button.small {
    padding: 0.4rem 0.5rem;
    font-size: 0.8rem;
    gap: 0.5rem;
  }

  .tag-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    padding: 3px;
    border-radius: var(--border-radius);
    background: var(--color-background-input);
    color: var(--color-text-button-emphasized);
  }

  &.active {
    color: var(--color-text-link);
    background: var(--color-background-navbar);
  }
}

body {
  margin: 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-text-emphasized);
  scroll-margin-top: calc(var(--navbar-height) + 2.5rem);
  line-height: 1.3;
  font-family: var(--font-family-heading);
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: var(--h1);
  line-height: 1.2;
}

h2,
h3,
h4,
h5,
p,
ul,
ol,
table,
blockquote {
  margin: 1.5rem 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 4rem;
}

h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: var(--h2);

  code {
    font-size: var(--h2) !important;
  }
}

h3 {
  font-size: var(--h3);

  code {
    font-size: var(--h3) !important;
  }
}

h4 {
  font-size: var(--h4);

  code {
    font-size: var(--h4) !important;
  }
}

h5,
h5 code {
  font-size: 1rem;
  text-transform: uppercase;
}

p,
ul,
ol {
  font-size: var(--font-size);
  line-height: 1.6;
}

ul {
  padding-left: 1rem;
}

li {
  line-height: 1.6;
  padding-bottom: 0.25rem;

  p {
    margin-top: 0;
  }
}

ul li ul,
ol li ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul li ul li {
  padding: 0;
}

li::marker {
  font-size: 1.1rem;
  line-height: 1;
  color: var(--color-marker);
}

mark {
  background: var(--yellow);
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--color-border);
}

td,
th {
  border: 1px solid var(--color-border);
  padding: 0.25rem 0.75rem;
}

th {
  background: var(--color-background-sidebar);
  border-bottom: 2px solid var(--color-border);
}

table tr:nth-child(even) {
  background: var(--color-background-sidebar);
}

/* Buttons */

button,
a.button,
.button {
  display: inline-flex;
  align-items: center;
  background: var(--color-background-button);
  border: 1px solid var(--color-border-button);
  padding: 12px 16px;
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500 !important;
  color: var(--color-text-button);
  gap: 0.25rem;
  white-space: nowrap;
  text-decoration: none !important;
  box-shadow: var(--box-shadow-button);
  transition: 0.1s all ease;

  &:hover {
    background: var(--color-background-button-hover);
    border: 1px solid var(--color-border-button-hover);
    color: var(--color-text-button-hover);
  }

  &.active,
  &:hover.active {
    color: var(--color-text-button-hover);
    background: var(--color-background-navbar-link-hover);

    svg {
      color: var(--color-text-emphasized);
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &.small {
    font-size: 14px;
    padding: 0.5rem 0.75rem;
  }

  &.x-small {
    font-size: 11px;
    padding: 0.25rem 0.5rem;
  }

  img,
  img {
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    margin-right: 0.25rem;
  }

  &.transparent-button {
    background: var(--color-background-input);
    border: 1px solid var(--color-border);
    color: var(--color-text-emphasized);
    font-weight: 600;
    transform: none;
  }
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: var(--navbar-height);

  /* mobile */
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 0.75rem 0 var(--layout-padding-horizontal);
}

.navbar-title {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  z-index: 3;
}

a.navbar-title-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-text-navbar-link);
  white-space: nowrap;
  font-weight: 600;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  width: 100%;
}

.navbar-section {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.navbar-section-search {
  display: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  a {
    white-space: nowrap;
    padding: 0.75rem;
    color: var(--color-text-navbar-link);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      background: var(--color-background-navbar-link-hover);
      color: var(--color-text-navbar-link-hover);
    }

    &.active {
      color: var(--color-text-link);
    }
  }

  &.social {
    gap: 2px;

    a svg,
    svg {
      transition: all 0.2s ease-in-out;
      color: var(--color-text-muted);

      &:hover {
        color: var(--color-text-emphasized);
      }
    }
  }

  &.nav-items {
    display: none;
  }

  img {
    height: 16px;
    width: 16px;
  }
}

button.navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 0.5rem;
  height: 40px;
  width: 40px;
  color: var(--color-text-navbar-link);
  box-shadow: none;

  img {
    margin: 0;
  }

  svg {
    color: var(--color-text-muted);
  }

  &:hover {
    border: none;
    background: var(--color-background-navbar-link-hover);
    color: var(--color-text-navbar-link-hover);

    svg {
      color: var(--color-text-navbar-link-hover);
    }
  }

  &.theme-switch-button {
    svg {
      color: light-dark(var(--primary-light), #ffd479);
    }

    &:hover {
      color: light-dark(var(--primary-light-hover), #ffeea6);

      svg {
        color: light-dark(var(--color-text-link), #ffeea6);
      }
    }
  }
}

@media screen and (max-width: 799px) {
  .navbar-menu {
    &.nav-items {
      height: calc(100vh - var(--navbar-height));
      justify-content: center;
      padding-bottom: 40vh;

      a {
        font-size: 1.2rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }

      &.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        margin-top: var(--navbar-height);
        background: var(--color-background-sidebar);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media screen and (min-width: 800px) {
  button.nav-menu-button {
    display: none;
  }

  .navbar-section {
    gap: 1rem;
  }

  .navbar-menu {
    &.nav-items {
      display: flex !important;
    }

    a {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem 0.75rem;
    }
  }
}

@media screen and (min-width: 1070px) {
  .navbar {
    display: block;
    background: light-dark(rgba(236, 232, 217, 0), rgba(24, 24, 24, 0.6));
    backdrop-filter: blur(10px);
    padding: 0;
    border-bottom: none;
  }

  .navbar-container {
    border-bottom: 1px solid var(--color-border);
  }

  .navbar-title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    z-index: 3;
    border-bottom: 1px solid var(--color-border);
  }

  a.navbar-title-link {
    margin-left: 0.5rem;
  }

  .navbar-title-content {
    padding: 0 1.5rem;
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
  }

  .navbar-section-search {
    display: block;
    padding-left: 1.5rem;
  }

  .navbar-wrapper {
    margin-right: 1.5rem;
    margin-left: var(--sidebar-width);
  }
}

@media screen and (min-width: 1370px) {
  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: var(--sidebar-width);
  }

  .navbar-container {
    margin-left: 2rem;
    max-width: var(--main-layout-width);
  }

  .navbar-section-search {
    padding-left: 0;
  }
}

a.navbar-icon {
  height: 40px !important;
  width: 40px !important;
}

.sidebar {
  display: block;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  height: 100vh;
  background: var(--color-background-sidebar);
  overflow-y: scroll;
  scrollbar-width: none;
  border-right: 1px solid var(--color-border-muted);

  &:hover {
    overflow-y: auto;
  }
}

.sidebar-wrapper {
  min-width: var(--sidebar-width);
  width: var(--sidebar-width);
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: var(--navbar-height);
  margin-left: 1.5rem;
  padding-right: 1rem;
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  z-index: 99;
  background: var(--color-background-sidebar);
}

a.sidebar-title-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-text-navbar-link);
  white-space: nowrap;
  font-weight: 600;
  text-decoration: none;
}

.sidebar-logo {
  height: 22px;
  width: 22px;
  min-height: 22px;
  min-width: 22px;
}

.sidebar-section {
  margin: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    padding-bottom: 0;
    border: none;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 14px;

      &:hover {
        color: var(--color-text-link-hover);
      }

      img {
        height: 16px;
        width: 16px;
      }
    }
  }

  p,
  h2 {
    margin: 1rem 0;
  }

  h2 {
    font-family: var(--font-family);
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin-left: -12px;
  line-height: 1;

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px 0.75rem;
    border-radius: 6px;
    font-size: 14px;
    color: var(--color-text-muted);
    font-weight: 500;

    &:hover {
      text-decoration: none;
      color: var(--color-text-link);
      background: var(--color-background);
    }

    &.active {
      background: var(--color-background);
      color: var(--color-text-link);
    }

    img {
      height: 16px;
      width: 16px;
    }
  }
}

.sidebar-content {
  p {
    line-height: 1.5;
  }
  > p:last-child {
    margin-bottom: 0;
  }
}

.avatar {
  border-radius: var(--border-radius);
  height: 50px;
  width: 50px;
}

/* Sidebar */

@media screen and (min-width: 1070px) {
  .sidebar {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 1370px) {
  .sidebar-title {
    margin-right: 1.5rem;
    padding-right: 0;
  }
}

/* Main */

.main-wrapper {
  min-height: 100vh;
  padding-top: var(--navbar-height);
}

@media screen and (min-width: 1070px) {
  .main-wrapper {
    min-height: calc(100vh - var(--navbar-height));
    margin-left: var(--sidebar-width);
  }
}

.main-contanier {
  display: block;
  max-width: var(--main-layout-width);
}

.main-content {
  flex-grow: 1;
  max-width: var(--content-width);
  padding: var(--layout-padding-vertical) var(--layout-padding-horizontal);
  margin-left: auto;
  margin-right: auto;

  &.page {
    max-width: var(--content-width);
  }
}

@media screen and (min-width: 1370px) {
  .main-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto;
  }

  .main-content {
    margin: 0;

    &.page {
      max-width: calc(var(--main-layout-width) + 4rem);
      margin-left: 2rem;
    }
  }
}

.post-sidebar {
  display: none;
  border-left: 1px solid var(--color-border);
  width: var(--post-sidebar-width);
  min-width: var(--post-sidebar-width);
}

.post-sidebar-thumbnail {
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

.post-sidebar-section {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid var(--color-border);

  p {
    margin-top: 0;
    margin-bottom: 0;

    &:last-of-type {
      margin: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.post-sidebar-content {
  position: sticky;
  top: var(--navbar-height);
  padding-top: var(--layout-padding-vertical);
  height: calc(100vh - var(--navbar-height));
  min-height: calc(100vh - var(--navbar-height));
  width: var(--post-sidebar-width);
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-padding-top: 80px;
  scroll-padding-bottom: 80px;

  &:hover {
    overflow-y: auto;
  }

  h2 {
    font-family: var(--font-family);
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }

  p {
    font-size: 14px;
  }

  nav {
    margin-left: -12px;

    a {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 8px 0.75rem;
      border-radius: 6px;
      font-size: 14px;
      color: var(--color-text-muted);
      font-weight: 500;

      &:hover {
        text-decoration: none;
        color: var(--color-text-link);
        background: var(--color-background-sidebar);
      }

      &.active {
        color: var(--color-text-link);
        background: var(--color-background-blockquote);
      }
    }

    ul,
    li,
    p {
      line-height: 1;
      padding: 0;
    }

    ul {
      margin: 0;
      padding-inline-start: 0;

      ul li > a {
        padding-left: 2rem;
      }
    }

    li {
      list-style-type: none;

      p {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1370px) {
  .post-sidebar {
    display: block;
  }
}

/* Hero */

.hero {
  margin-bottom: 1.5rem;

  h1 {
    width: fit-content;
    padding-bottom: 0.2rem;
    border-bottom: 6px solid #f57ad0;
  }

  .sub-title {
    display: flex;
    gap: 0.5rem;
    color: var(--color-text-muted);
    font-weight: 500;
    font-size: 1.1rem;
  }

  &.hero-post {
    h1 {
      border: none;
      padding: 0;
      /* border-left: 8px solid #f57ad0; */
      /* padding-left: 1rem; */
      /* line-height: 1.1; */
    }
  }

  &.hero-index {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  &.hero-taxonomy {
    h1 {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 800px) {
  .hero {
    margin-bottom: 3rem;

    &.hero-index {
      h1 {
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

.heading {
  gap: 0.5rem;
  margin-bottom: 2rem;

  span {
    border-bottom: 3px solid var(--green);
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.5rem;

    .small {
      margin-top: 0.25rem;
    }
  }

  .description {
    font-size: 1.1rem;
    color: var(--color-text-muted);
  }
}

.section-index {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.hero-description {
  margin: 0 0 1.5rem 0;
  font-size: 1.1rem;
  max-width: 600px;
}

.hero-image {
  display: none;
  max-width: 125px;
}

@media screen and (min-width: 600px) {
  .hero-wrapper {
    display: flex;
    gap: 2.5rem;
  }

  .hero-image {
    display: block;
    max-width: 200px;
  }

  .heading {
    span {
      border: none;
    }
  }
}

@media screen and (min-width: 800px) {
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.posts {
  max-width: 600px;
}

/* Posts */
a.post {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 1px solid var(--color-border-muted);

  &:last-child {
    border-bottom: none;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    margin: 0;
    order: 2;
  }

  time {
    display: block;
    width: 150px;
    color: var(--color-text-muted);
    line-height: 1.6;
    font-size: 0.9rem;
    font-weight: 400;
    order: 1;
    text-decoration: none;
  }
}

@media screen and (min-width: 1020px) {
  .posts {
    border-left: 2px solid var(--color-border-muted);
    padding-left: 1.5rem;
  }

  a.post {
    padding: 0.75rem 0;

    time {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      order: 2;
    }

    &:hover {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      background: var(--color-background-blockquote);

      time {
        color: var(--color-text-emphasized);
      }
    }
  }
}

a time.new-post {
  color: var(--color-highlighted) !important;
}

.year {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  h2 {
    border-bottom: 3px solid var(--green);
    width: fit-content;
    margin-bottom: 0.5rem;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

@media screen and (min-width: 800px) {
  .year {
    h2 {
      padding: 0;
      border: 0;
      margin-bottom: 0;
      border-left: 3px solid var(--green);
      padding-left: 1rem;
      line-height: 1;
    }
  }
}

/* Article */

.main-article,
.page-article {
  a {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }

  h2 {
    /* padding-left: 1rem; */
    width: fit-content;
    /* border-left: 3px solid var(--green); */
    /* line-height: 1; */
  }
}

.main-article-thumbnail {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1370px) {
  .main-article-thumbnail {
    display: none !important;
  }
}

/* Cards */

.cards {
  display: grid;
  gap: 0.5rem;
}

@media screen and (min-width: 800px) {
  .cards {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1370px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Card */

.card {
  position: relative;
  padding: 1rem;
  background: var(--color-background-card);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border-card);

  .card-links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  a {
    font-weight: 600;
  }

  &.card-highlight {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none !important;
    line-height: 1.3;

    div {
      color: var(--color-text-emphasized);
    }

    &:hover {
      div {
        color: var(--color-text-link-hover);
      }
    }

    .gatsby-image-wrapper {
      min-width: 40px;
      min-height: 40px;
    }
  }

  time {
    display: block;
    font-size: 14px;
    color: var(--color-text-muted);
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: var(--color-text);
    line-height: 1.5;
    margin: 0.5rem 0 1rem;
  }

  a.button,
  button {
    color: var(--color-text-button-card);
    background: var(--color-background-button-card);

    &:hover {
      color: var(--color-text-button-card-hover);
      background: var(--color-background-button-card-hover);
    }
  }
}

@media screen and (min-width: 1020px) {
  .card {
    padding: 1.25rem;

    a {
      font-size: 1.1rem;
    }
  }
}

.stars {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.star {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--yellow);

  a {
    font-size: 0.9rem;
    color: var(--color-text-emphasized);
  }
}

.image-thumbnail {
  margin-top: 1rem;
  height: 250px;
  border-radius: var(--border-radius);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Blockquote */

blockquote {
  padding: 1rem;
  margin: 1.5rem 0;
  border: 1px solid var(--color-border-blockquote);
  border-radius: var(--border-radius);
  background: var(--color-background-blockquote);
  color: var(--color-text-emphasized);
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;

  > * {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  ul {
    margin-top: 1.5rem;
  }

  strong {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    font-weight: 700;
  }

  &.quotation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    border: none;
    border-radius: 0;
    border-left: 12px solid var(--color-border);
    background: transparent;
    padding: 0 1rem;

    cite {
      display: block;
      margin-top: 1rem;
      text-align: right;
      font-size: 1rem;
      font-family: var(--font-family);
    }
  }
}

@media screen and (min-width: 800px) {
  blockquote {
    padding: 1.5rem;

    &.quotation {
      font-size: 1.2rem;
      padding: 0 1.5rem;

      p {
        font-size: 1.2rem;
      }
    }
  }
}

/* Image */

img {
  display: block;
  max-width: 100%;
}

img.image-float {
  margin: 1.5rem 0;
  max-width: 300px;
  height: auto;
}

@media screen and (min-width: 800px) {
  img.image-float {
    float: right;
    margin: 0 0 1.5rem 1.5rem;
    max-width: 300px;
    height: auto;
  }
}

/* Commets */

.comments {
  margin-top: 1.5rem;
  border-top: 1px solid var(--color-border);
  scroll-margin-top: var(--navbar-height);
}

/* Footer */

.footer {
  border-top: 1px solid var(--color-border);
  padding: 1.5rem 0;
  font-size: 13px;
}

a.footer-link {
  white-space: nowrap;
  color: var(--color-text-muted);

  &:hover {
    color: var(--color-text-link-hover);
  }
}

.floppy-logo {
  display: inline-block;
  height: 18px;
  width: 18px;
}

.footer-made-by {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  gap: 1.5rem;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.footer-menu {
  display: flex;
  gap: 0.75rem;
}

.footer-menu-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

@media screen and (min-width: 800px) {
  .footer {
    font-size: 14px;
  }

  .footer-menu {
    display: flex;
  }
}

@media screen and (min-width: 1370px) {
  .footer-section {
    max-width: calc(var(--main-layout-width) + 2rem);
  }
}

.flex {
  display: flex;
}

.gap {
  gap: 0.75rem;
}

.main-article {
  .gatsby-remark-prismjs-copy-button-container {
    left: -0.25rem;
    top: 51px;
    margin-top: -58px;

    .gatsby-remark-prismjs-copy-button {
      border-radius: 6px;
      border: 1px solid var(--color-border);
      background: var(--color-background-navbar);
      color: var(--color-text-muted);
      line-height: 1;
      padding: 4px 6px;

      &:hover {
        background: var(--color-background-navbar);
        border: 1px solid var(--color-border-hover);
        color: var(--color-text);
      }
    }
  }

  .filename + .gatsby-remark-prismjs-copy-button-container {
    left: -0.5rem;
    top: 66px;
    margin-top: -58px;
  }
}

.highlight {
  font-weight: 700;
  color: var(--color-text-emphasized);
}

.searched {
  font-weight: 600;
  color: #111;
  background: var(--yellow);
}

.search-container {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;

  &.with-button {
    gap: 0;

    input,
    button {
      height: 36px;
    }

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.4rem;
  height: 24px;
  width: 24px;
}

.searchbar {
  background: var(--color-background-input);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  box-shadow: none;
  max-width: 260px;

  &:hover {
    border-color: var(--primary);
  }

  &:focus {
    outline: none;
    background: var(--color-background-blockquote);
    border-color: var(--primary);
    box-shadow: 0 0 1px 1px var(--primary);
  }

  &.with-icon {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
  }
}

.small {
  font-size: 16px;
}

.site-name {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  /* border-bottom: 3px solid var(--light-blue); */
}

.hidden {
  display: none;
}
