:root {
  --background-color: var(--gray-10);
  --card-background-color: var(--gray-9);
  --star: var(--light-yellow);
  --year: var(--green);

  --font-color-heading: white;
  --font-color-heading3: white;
  --font-color-base: var(--gray-3);
  --font-color-muted: var(--gray-5);
  --font-color-bright: white;

  --border-color: var(--gray-7);
  --border-color-hover: var(--gray-6);

  --button-background-color: var(--gray-8);

  --post-time-color: var(--green);
  --card-time-color: var(--green);
  --project-time-color: var(--green);
  --link: #98a0fa;
  --link-hover-color: #222;
  --blockquote-background: rgba(120, 120, 240, 0.05);
  /* --marker: var(--green); */
  --file-background: #161616;
  --inline-code-background-color: rgba(0, 0, 0, 0.2);
  --highlight-color: var(--green);
  --navbar: var(--gray-9);
  --navbar-background-hover: var(--gray-8);
  --navbar-border: var(--gray-7);
  --navbar-color: var(--gray-4);
  --navbar-color-hover: white;
  --category-link: var(--font-color-muted);

  --scrollbar-color: var(--gray-65);
  --scrollbar-track: var(--gray-7);

  --code-font-color: #b3b9c5;
  --code-background-color: #131313;
  --code-border-color: var(--gray-7);
  --terminal-background-color: #111;
  --terminal-color: white;
  --terminal-bar: -webkit-linear-gradient(top, #282828, #222);
  --terminal-border: var(--border-color);
  --terminal-accent: var(--gray-6);
  --string: var(--green);
  --variable: var(--lavendar);
  --property: #b3b9c5;
  --number: #fca369;
  --operator: #637187;
  --punctuation: #c7cdd7;
  --comment: #777c85;
  --function: #28e3e6;
  --keyword: var(--lavendar);
  --attribute: #fed06d;
  --class: var(--violet);
  --tag: var(--blue);
  --error: #b0292c;
  --code-link-hover: var(--link-hover-color);
  --highlight-code-color: rgb(116, 207, 136, 0.1);
}
