:root {
  --background-color: var(--gray-8);
  --card-background-color: var(--gray-9);
  --star: var(--rainbow-5);
  --year: var(--rainbow-4);

  --font-color-heading: white;
  --font-color-heading3: var(--gray-1);
  --font-color-base: var(--gray-2);
  --font-color-muted: var(--gray-4);
  --font-color-bright: white;

  --border-color: var(--gray-7);
  --border-color-hover: var(--gray-6);

  --button-background-color: var(--gray-8);

  --post-time-color: var(--rainbow-4);
  --card-time-color: var(--rainbow-1);
  --project-time-color: var(--star);
  --link: #a4a9ff;
  --link-hover-color: #222;
  --blockquote-background: rgba(120, 120, 255, 0.15);
  --marker: #e77cc7;
  --file-background: rgba(0, 0, 0, 0.2);
  --inline-code-background-color: rgba(0, 0, 0, 0.2);
  --highlight-color: var(--rainbow-4);
  --navbar: var(--gray-9);
  --navbar-border: var(--gray-7);
  --navbar-color: var(--gray-4);
  --navbar-color-hover: white;
  --theme-button-background: var(--gray-8);
  --theme-button-background-hover: var(--gray-7);
  --theme-button-border: var(--gray-7);
  --theme-button-border-hover: var(--gray-6);
  --theme-button-color: var(--gray-0);
  --theme-button-color-hover: white;
  --category-link: var(--font-color-muted);

  --code-font-color: #b3b9c5;
  --code-background-color: var(--gray-9);
  --terminal-background-color: #111;
  --terminal-color: var(--rainbow-4);
  --terminal-bar: -webkit-linear-gradient(top, #444, #222);
  --terminal-border: var(--border-color);
  --terminal-accent: var(--gray-6);
  --string: #92d192;
  --variable: #f2777a;
  --property: #b3b9c5;
  --number: #fca369;
  --operator: #ac8d58;
  --punctuation: #c7cdd7;
  --comment: #777c85;
  --function: #76d4d6;
  --keyword: #ffeea6;
  --attribute: #ffd479;
  --class: #e1a6f2;
  --tag: #6ab0f3;
  --error: #b0292c;
  --code-link-hover: var(--link-hover-color);
}
