:root {
  --font-color: #b3b9c5;
  --heading-color: #ffd479;
  --dark-font-color: #ced4da;
  --background: #1f2022;
  --medium-font-color: #dee2e6;
  --light-font-color: #868e96;
  --light-background: #2d2d31;
  --light-background-hover: #3b3b3e;
  --code-background-color: #2e2e30;
  --border: #404040;
  --link-color: #6ab0f3;
  --link-color-darker: #4a72a5;
  --link-hover-color: #e1a6f2;
  --navbar-color: #1d1d1d;
  --blockquote: #2a4661;
  --transparent-text: rgba(255, 255, 255, 0.7);
  --transparent-bg: rgba(0, 0, 0, 0.2);
  --light-transparent-bg: rgba(255, 255, 255, 0.05);
  --border-color: #3b3b3b;
  --subtle-border: rgba(255, 255, 255, 0.1);
}

h1 {
  color: white;
}

h3,
h4 {
  color: var(--medium-font-color);
}

p.subtitle {
  color: rgba(255, 255, 255, 0.5);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 700;
  border-color: transparent;
}

a:hover {
  color: white;
  border-color: var(--link-color);
}

a code[class*='language-'] {
  color: var(--link-color) !important;
}

a.button {
  background: transparent;
}

a.button:hover {
  background: transparent;
  border-color: var(--link-color);
  box-shadow: 5px 5px var(--link-color-darker);
}
.navbar {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.navbar a:hover,
.navbar a[aria-current='page'] {
  border-color: transparent;
}

.tags > a:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.filename {
  background: linear-gradient(to bottom, #303030, #202020) !important;
  box-shadow: 0px 1px 0px rgba(100, 100, 100, 0.5) inset, 0px 1px 0px #515151;
  border: 1px solid #202020 !important;
  color: var(--dark-font-color) !important;
  text-shadow: none !important;
}

pre.language-terminal {
  background: var(--navbar-color);
  border: 1px solid #111;
}

pre.language-terminal::before {
  border-bottom: 1px solid #111;
  background: linear-gradient(to bottom, #303030, #202020) !important;
  color: inherit;
}

pre.language-terminal::after {
  text-shadow: none;
  color: var(--light-font-color);
}

code.language-terminal {
  color: var(--dark-font-color);
}

code {
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.1);
}

[type='search'] {
  border: 1px solid var(--light-background);
  background: var(--light-background);
  color: var(--dark-font-color);
  border: 2px solid transparent;
}

[type='search']:focus {
  outline: none;
  border: 2px solid var(--link-color);
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header u {
  background: linear-gradient(transparent 85%, #111 0);
}

table,
td,
th {
  border-color: #111;
}

tbody tr:nth-child(odd) {
  background-color: #222;
}

blockquote {
  color: rgba(255, 255, 255, 0.9);
}

.post-meta .tags a {
  background: rgba(255, 255, 255, 0.1);
  color: var(--heading-color);
}
.post-meta .tags a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--heading-color);
}

.new-post {
  background: #72ce6e;
  color: black;
}

.popular-post {
  background: #4263eb;
  color: white;
}

.guide-thumbnails a:hover {
  color: white;
}

.guide a h2:hover {
  color: #ffeead;
}

.post a:hover {
  border-bottom-color: var(--light-background);
}

.project a:hover h3 {
  color: var(--heading-color);
}

.footer a:hover {
  border: 1px solid transparent;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border: 1px solid rgba(255, 255, 255, 0.05);
}

pre.language-terminal {
  box-shadow: none;
}
