.light {
  --primary: #6b76f3;
  --secondary: #444;
  --heading-font-color: #222;
  --link-color: #111;
  --border-color: #bbb;
  --light-border-color: #e0e0e0;
  --background-color: white;
  --sidebar-color: #f0f0f0;
  --navbar-color: #f0f0f0;
  --navbar-color-hover: #ddd;
  --sidebar-color-hover: #dedede;
  --sidebar-color-focus: white;
  --category-background-color: #d5d5d5;
  --category-background-color-hover: #c0c0c0;
  --toolbar-color: #333;
  --toolbar-background-color: #f0f0f0;
  --font-color: #343434;
  --dark-font-color: #777;
  --input-background: transparent;
  --bright-font-color: #222;
  --blockquote-background-color: rgba(0, 0, 0, 0.02);
  --blockquote-color: #111;
  --inline-code-background-color: rgba(0, 0, 0, 0.05);
  --inline-code-color: #111;
  --icon-filter: brightness(0.8);
  --dark-opacity: rgba(0, 0, 0, 0.03);
  --dark-opacity-hover: rgba(0, 0, 0, 0.1);
  --reverse: white;
  --terminal-color: var(--bright-font-color);
  --scrollbar: #888;
  --scrollbar-track: #bbb;
  --yellow: #e59e32;
  --button-color: var(--primary);
  --button-font-color: white;
}

.light p,
.light ol,
.light ul,
.light table,
.light blockquote {
  -webkit-font-smoothing: auto;
}

.light pre[class*='language-'] {
  border-color: var(--heading-font-color);
}

.light pre.language-terminal,
.light table {
  border-color: var(--border-color);
}

.light blockquote {
  border-color: var(--border-color);
  border-left-color: var(--primary);
}

.light .filename {
  border: 1px solid #171717;
}

.light a.anchor.before svg {
  fill: var(--primary);
}
