/*
 New Moon Theme by Tania Rascia
 https://taniarascia.github.io/new-moon
 Source: https://github.com/taniarascia/new-moon
*/

:root {
  --code-font-color: #b3b9c5;
  --code-background-color: #353535;
  --string: #92d192;
  --variable: #f2777a;
  --property: #abb2bf;
  --number: #fca369;
  --operator: #ac8d58;
  --punctuation: #d5d8df;
  --comment: #848991;
  --function: #62cfcf;
  --keyword: #ffeead;
  --attribute: #ffd479;
  --class: #e1a6f2;
  --tag: #6ab0f3;
  --error: #f2777a;
  --terminal-color: var(--code-font-color);
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--code-font-color);
  font-family: var(--code-font-family);
  font-size: 0.9rem !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-'] {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background: var(--code-background-color);
  font-family: Menlo, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: initial;
  border-radius: 8px;
  border: 1px solid var(--light-border-color);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  -webkit-font-smoothing: antialiased;
  padding: 2px 3px;
  background: var(--inline-code-background-color) !important;
  font-weight: 600;
  color: var(--inline-code-color) !important;
  font-size: 1rem !important;
  white-space: pre-wrap;
}

article a:hover code {
  color: var(--reverse) !important;
}

pre.language-text {
  background: transparent;
  margin-left: -1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
}

.line-numbers-rows {
  display: none;
}

pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 1rem;
  counter-reset: linenumber;
}

@media screen and (min-width: 800px) {
  .line-numbers-rows {
    display: block;
  }
  pre.language-text.line-numbers {
    padding-left: 1.5rem !important;
  }

  pre[class*='language-'].line-numbers {
    padding-left: 3.5rem;
  }

  /* Hide line numbers */

  pre.language-terminal,
  pre.language-shell {
    padding-left: 1.5rem !important;
  }

  pre.language-text .line-numbers-rows,
  pre.language-terminal .line-numbers-rows,
  pre.language-shell .line-numbers-rows {
    display: none;
  }
}

code.language-text {
  background: var(--light-background) !important;
  color: var(--font-color) !important;
  box-shadow: none;
}

pre.language-text code.language-text {
  border: none;
}

code.language-shell::before {
  content: '$ ';
  color: var(--comment);
}

pre.language-terminal {
  position: relative;
  background: var(--reverse);
  padding-top: 3rem;
  color: var(--font-color);
  margin: 2rem 0;
  white-space: normal;
  -webkit-text-size-adjust: none;
  border: 1px solid var(--light-border-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

code.language-terminal {
  -webkit-font-smoothing: antialiased;
  color: var(--terminal-color);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

pre.language-terminal::before {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--category-background-color);
  color: var(--dark-font-color);
  width: 100%;
  font-size: 2.5rem;
  margin: 0;
  line-height: 0;
  padding: 15px 0 12px;
  text-indent: 6px;
  letter-spacing: -5px;
  border-bottom: 1px solid var(--light-border-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 1rem !important;
  font-size: 100%;
  left: -3.8rem;
  width: 3rem !important;
  letter-spacing: -1px;
  border-right: 1px solid #444;
  padding-right: 0.5rem;
}

.line-numbers-rows > span:before {
  color: #777;
}

.gatsby-highlight {
  font-size: 0.9rem;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  max-width: 999999px;
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 100%;
}

.gatsby-highlight-code-line {
  background-color: #222;
  display: block;
  margin-left: -1.25rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.25rem solid #74cf74;
}

.filename {
  display: flex;
  align-items: center;
  margin-bottom: -2rem;
  background: #171717;
  padding: 0.5rem 1.5rem;
  color: #ccc;
  line-height: 1;
  font-size: 0.9rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 0.9rem;
  font-family: var(--heading-font-family);
}

/* Colors */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.important {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.namespace {
  opacity: 0.7;
}

.token.property {
  color: var(--property);
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--tag);
}

.token.number {
  color: var(--number);
}

.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: var(--code-font-color);
}

.token.attr-name,
.token.selector {
  color: var(--attribute);
}

.token.attr-value,
.token.string {
  color: var(--string);
}

.token.operator {
  color: var(--operator);
}

.token.atrule,
.token.keyword {
  color: var(--keyword);
}

.token.function {
  color: var(--function);
}

.language-css,
.token.boolean,
.token.class-name {
  color: var(--class) !important;
}

.token.regex {
  color: var(--keyword);
}

.token.variable {
  color: var(--variable);
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.language-jsx .token.class-name {
  color: var(--tag) !important;
}

pre::-moz-selection,
pre::-moz-selection,
code::-moz-selection,
code::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre::selection,
pre::selection,
code::selection,
code::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-'] {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.filename {
  margin-bottom: -1.9rem;
}
