/*! Tania Rascia's website style. Written with plain CSS in one file. Why not? */

/* Global variables */

:root {
  --font-color: #495057;
  --heading-color: #343a40;
  --dark-font-color: #212529;
  --light-font-color: #868e96;
  --light-background: #f1f3f5;
  --border: #d6d9de;
  --link-color: #5183f5;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Scaffolding */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI', Roboto,
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0 1.5rem;
}

@media screen and (min-width: 800px) {
  body {
    padding: 0 2rem;
  }
}

article {
  min-width: 0;
}

section {
  margin: 2rem 0;
}

section > h2 {
  margin-top: 4rem;
}

@media screen and (min-width: 800px) {
  section {
    margin: 3rem 0;
  }
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

p,
ol,
ul,
dl,
table,
blockquote {
  font-size: 1.05rem;
  margin: 0 0 1.5rem 0;
}

ul {
  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  ul {
    padding: 0 2rem;
  }
}

ul li p {
  margin: 0;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0.25rem 0;
}

ol li ol {
  margin-bottom: 0;
}

.task-list-item [type='checkbox'] {
  margin-right: 0.5rem;
}

blockquote {
  margin: 1.5rem 0;
  padding: 1rem;
  background: #fff9db;
  border-radius: 0.3rem;
  border: 1px solid #ffe066;
  border-left: 8px solid #ffe066;
}

blockquote p {
  margin: 0;
}

blockquote a {
  padding: 1px 4px;
  border-bottom: 2px solid #ffe066;
  color: var(--heading-color);
}

blockquote a:hover {
  border-radius: 0.3rem;
  border-bottom: 2px solid #ffe066;
  background: #ffe066;
  color: var(--heading-color);
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.75rem;
}

h2 code {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem;
  color: var(--font-color);
  font-weight: 600;
}

h3 code {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1.4rem;
  color: var(--font-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }

  h2 code {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.6rem;
    color: var(--font-color);
    font-weight: 600;
  }

  h3 code {
    font-size: 1.6rem !important;
  }
}

/* Sidebar */

aside {
  min-width: 300px;
}

aside p,
aside ul {
  font-size: 0.95rem;
}

aside ul {
  padding-left: 1rem;
}

aside h3 {
  font-size: 1.4rem;
}

aside a.link:hover {
  border-bottom: 0;
  background: var(--light-background);
}

.aside-content {
  border-top: 2px solid var(--light-background);
}

@media screen and (min-width: 1100px) {
  .aside-content {
    border-top: 0;
    border-left: 2px solid var(--light-background);
    padding-left: 2rem;
  }
  .aside-content section {
    margin-top: 0.25rem;
  }
}

a.link {
  display: grid;
  grid-template-columns: 45px auto;
  align-items: center;
  color: var(--heading-color);
  border-bottom: none;
  padding: 0.75rem;
  border-radius: 0.3rem;
}

a.link:hover {
  border-bottom: none;
  background: var(--light-background);
}

a.link img {
  display: inline-block;
  height: auto;
  margin-right: 1rem;
  height: 22px;
  width: auto;
}

/* Main */

.lead {
  margin: 4rem 0;
}

.lead h1 {
  color: var(--dark-font-color);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.lead p {
  font-size: 1.1rem;
}

@media screen and (min-width: 800px) {
  .lead h1 {
    font-size: 3rem;
  }

  .lead p {
    font-size: 1.2rem;
  }
}

p.subtitle {
  color: var(--light-font-color);
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  p.subtitle {
    font-size: 1.4rem;
  }
}

/* Links */

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  border-bottom: 2px solid var(--link-color);
  color: var(--heading-color);
}

a.gatsby-resp-image-link:hover {
  border-bottom: none;
}

a code {
  border-bottom: 2px solid var(--link-color);
}

a code:hover {
  background: var(--link-color) !important;
  color: white !important;
}

/* Navbar */

main {
  margin-top: 7rem;
}

.navbar {
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
  z-index: 2;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar a,
.footer a {
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0 0.25rem;
  color: var(--light-font-color);
  border-bottom: none;
  font-weight: 400;
}

.navbar a:hover,
.footer a:hover {
  background: var(--light-background);
  color: var(--font-color);
}

.navbar a:first-of-type {
  margin-left: -1rem;
}
.navbar a:last-of-type {
  margin-right: -1rem;
}

.navbar a.brand {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--font-color);
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 0;
  }

  .navbar {
    margin: 2rem 0 5rem;
    padding: 1.5rem 0;
    position: static;
    background: white;
    box-shadow: none;
  }

  .navbar .flex {
    justify-content: flex-start;
  }

  .navbar a,
  .footer a {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }
  .navbar a.brand {
    font-size: 1.3rem;
    margin-right: 3rem;
  }
  .navbar a:first-of-type {
    margin-left: -1.5rem;
  }
}

/* Footer */

.footer {
  margin: 3rem auto;
}

.footer > .flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex nav {
  padding: 1rem 0;
}

.footer img {
  height: 30px;
  width: 30px;
}

.footer a.img {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0.75rem;
  background: none;
}

.footer img {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 800px) {
  .footer {
    margin: 5rem auto;
  }

  .footer > .flex {
    align-items: flex-start;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .footer a.img {
    padding: 0 0.5rem;
    margin: 0 1rem;
  }
}

.emoji {
  margin: 0 0.4rem 0 0.1rem;
}

/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

th {
  border-bottom: 2px solid var(--light-background);
}

tfoot th {
  border-top: 2px solid var(--light-background);
}

td {
  border-bottom: 2px solid var(--light-background);
}

th,
td {
  text-align: left;
  padding: 0.75rem !important;
  hyphens: auto;
  word-break: break-word;
}

tbody tr:nth-child(even) {
  background-color: var(--light-background);
}

/* Grid and flex */

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: stretch;
}

.grid.projects {
  grid-template-columns: 40px auto;
}

.row .cell.description {
  grid-column: 1 / span 2;
  margin-bottom: 2rem;
  line-height: 1.3;
  font-size: 1.1rem;
}

@media screen and (min-width: 800px) {
  .grid {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .grid.projects {
    grid-template-columns: 50px 1fr 4fr;
  }

  .row .cell.description {
    grid-column: auto;
    margin-bottom: 0;
  }

  .grid.posts {
    grid-template-columns: 200px 4fr;
  }

  .grid.lists {
    grid-template-columns: 2fr 4fr;
  }

  .grid.posts.with-tags {
    grid-template-columns: 200px 4fr 2fr;
  }
}

.row {
  display: contents;
}

.posts .row,
.lists .row {
  display: block;
  margin-bottom: 2rem;
  border-bottom: none;
}

.row .cell {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--dark-font-color);
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.5rem 0;
}

.row .cell time {
  font-size: 0.8rem;
}

@media screen and (min-width: 800px) {
  .row .cell {
    font-size: 1.1rem;
  }
  .row .cell time {
    font-size: 0.9rem;
  }
  .row .cell.simple {
    padding: 0.5rem 0;
  }
  .posts .row,
  .lists .row {
    display: contents;
  }

  .row:hover > * {
    background: var(--light-background);
  }

  .row .cell:first-child,
  .row .cell.simple:first-child {
    padding-left: 1rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  .row .cell:last-child,
  .row .cell.simple:last-child {
    padding-right: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.row .cell.light {
  font-weight: 400;
  color: var(--light-font-color);
}

/* Guide */

.grid.guide {
  grid-gap: 1.5rem;
  grid-auto-rows: 1fr;
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.grid.guide a {
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
  border-bottom: none;
}

.grid.guide .gatsby-image-wrapper {
  margin-right: 1.5rem;
}

.grid.guide a:hover {
  transform: translate3D(0, -1px, 0);
  box-shadow: 0 8px 22px rgba(100, 110, 140, 0.2),
    0 5px 18px rgba(100, 110, 140, 0.25);
}

.grid.guide h2 {
  margin: 0;
  font-size: 1rem;
  flex: 1;
}

@media screen and (min-width: 600px) {
  .grid.guide {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid.guide a {
    flex-direction: column;

    justify-content: center;
  }
  .grid.guide h2 {
    text-align: center;
    margin: 1rem 0 0;
    flex: none;
  }
  .grid.guide .gatsby-image-wrapper {
    margin-right: 0;
  }
}

@media screen and (min-width: 800px) {
  .grid.guide {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1000px) {
  .grid.guide {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .grid.guide {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

/* Post */

.grid.post {
  grid-gap: 1rem;
  margin-left: 0;
  margin-right: 0;
}

.article-header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 1100px) {
  .grid.post {
    grid-gap: 3rem;
    grid-template-columns: 3fr 1fr;
  }

  .article-header h1 {
    font-size: 2.75rem;
    margin-bottom: 3rem;
  }
}

/* Search */

[type='search'] {
  display: block;
  padding: 0.8rem 1rem;
  border: 2px solid var(--border);
  width: 100%;
  max-width: 400px;
  border-radius: 0.3rem;
  font-size: 1rem;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--light-font-color);
}

/* Suggested */

.suggested {
  flex-direction: column;
  align-items: stretch;
  margin-left: -1rem;
  margin-right: -1rem;
}

.suggested a {
  text-align: center;
  margin: 1rem;
  border-bottom: none;
  transition: all 0.2s ease;
  padding: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
  color: var(--font-color);
}

.suggested a:hover {
  transform: translate3D(0, -1px, 0);
  box-shadow: 0 8px 22px rgba(100, 110, 140, 0.2),
    0 5px 18px rgba(100, 110, 140, 0.25);
}

@media screen and (min-width: 800px) {
  .suggested {
    flex-direction: row;
  }
  .suggested a {
    flex: 0 0 calc(50% - 2rem);
  }
}

/* Helpers */

.small {
  max-width: 600px;
}

.medium {
  max-width: 750px;
}

time,
.meta {
  color: var(--light-font-color);
  font-size: 0.9rem;
  white-space: nowrap;
  font-weight: 400;
}

/* Tags */

.count {
  font-weight: 700;
  color: var(--link-color);
}

.tags {
  display: flex !important;
  align-items: center;
}

.tags > a {
  display: block;
  font-weight: 500;
  background: #f1f3f5;
  color: #343a40;
  margin: 0.2rem;
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  border-bottom: 0;
  white-space: nowrap;
}

.tags > a:first-child {
  margin-left: 0;
}

.tags > a:last-child {
  margin-right: 0;
}

.tags > a:hover {
  background: #868e96;
  color: white;
}

mark {
  background: #ffec99;
}

a.tag-javascript,
a.tag-sql {
  background: #fff3bf;
  color: black;
}

a.tag-javascript:hover,
a.tag-sql:hover {
  background: #ffd43b;
  color: black;
}

a.tag-linux,
a.tag-git,
a.tag-snippets,
a.tag-html {
  background: #fff4e6;
  color: #e8590c;
}

a.tag-linux:hover,
a.tag-git:hover,
a.tag-snippets:hover,
a.tag-html:hover {
  background: #fd7e14;
  color: white;
}

a.tag-vue,
a.tag-new-year {
  color: #087f5b;
  background: #e6fcf5;
}

a.tag-vue:hover,
a.tag-new-year:hover {
  background: #0ca678;
  color: white;
}

a.tag-fundamentals,
a.tag-game,
a.tag-testing,
a.tag-security {
  background: #d3f9d8;
  color: #111;
}

a.tag-fundamentals:hover,
a.tag-game:hover,
a.tag-testing:hover,
a.tag-security:hover {
  background: #37b24d;
  color: white;
}

a.tag-node,
a.tag-automation {
  background: #fff5f5;
  color: #e03131;
}

a.tag-node:hover,
a.tag-automation:hover {
  background: #f03e3e;
  color: white;
}

a.tag-wordpress,
a.tag-projects,
a.tag-reference,
a.tag-notes,
a.tag-jQuery {
  background: #e3fafc;
  color: #0c8599;
}

a.tag-wordpress:hover,
a.tag-projects:hover,
a.tag-reference:hover,
a.tag-notes:hover,
a.tag-jQuery:hover {
  background: #1098ad;
  color: white;
}

a.tag-css,
a.tag-dom,
a.tag-architecture {
  background: #e7f5ff;
  color: #1971c2;
}

a.tag-css:hover,
a.tag-dom:hover,
a.tag-architecture:hover {
  background: #1c7ed6;
  color: white;
}

a.tag-php,
a.tag-redux,
a.tag-gatsby,
a.tag-life {
  background: #f3f0ff;
  color: #6741d9;
}

a.tag-php:hover,
a.tag-redux:hover,
a.tag-gatsby:hover,
a.tag-life:hover {
  background: #7950f2;
  color: white;
}

a.tag-react,
a.tag-api {
  background: #edf2ff;
  color: #3b5bdb;
}

a.tag-react:hover,
a.tag-api:hover {
  background: #4263eb;
  color: white;
}

a.tag-design,
a.tag-database {
  background: #fff0f6;
  color: #c2255c;
}

a.tag-design:hover,
a.tag-database:hover {
  background: #e64980;
  color: white;
}

a.tag-notes {
  background: #f8f0fc;
  color: #9c36b5;
}

a.tag-notes:hover {
  background: #ae3ec9;
  color: white;
}

.mobile-only {
  display: block !important;
}

.mobile-only.gatsby-image-wrapper {
  height: 100px !important;
  width: 100px !important;
}

@media screen and (min-width: 1100px) {
  .mobile-only {
    display: none !important;
  }
}
