@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@300;400;500;700&display=swap');

:root {
  --font-family--base: 'Inter', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  --font-family--monospace: 'IBM Plex Mono', Menlo, monospace;
  --font-color--base: #444;
  --font-color--muted: #777;
  --font-color--heading: #111;

  --border-color: #e0e0e0;
  --border-color-hover: #a0a0a0;
  --border-radius: 4px;

  --card-background-color: #f6f6f6;
  --card-background-color-hover: #e0e0e0;

  --margin: 1.5rem;
  --content-width: 1300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family--base);
  -webkit-font-smoothing: antialiased;
  color: #444;
  line-height: 1.6;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
ul,
ol,
table {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: var(--margin);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color--heading);
  line-height: 1.1;
  font-family: var(--font-family--heading);
  margin-top: 0;
  margin-bottom: var(--margin);
  font-weight: 600;
}

button,
a.button {
  -webkit-appearance: none;
  background: white;
  display: inline-flex;
  align-items: center;
  padding: 0.6rem 1rem;
  font-family: var(--font-family--base);
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--font-color--base);
  border: 1px solid var(--border-color);
}

button img,
a.button img {
  max-height: 20px;
  margin-right: 0.5rem;
}

button:hover,
a.button:hover {
  color: var(--font-color--heading);
  border-color: var(--border-color-hover);
}

/* Layout */

.container {
  max-width: var(--content-width);
  padding: 0 var(--margin);
  margin-left: auto;
  margin-right: auto;
}

.segment {
  margin: 5rem 0;
}

.segment h2.heading {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.segment h2.heading .title {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.segment h2.heading .description {
  font-size: 1.1rem;
  color: var(--font-color--muted);
  font-weight: 400;
  max-width: 600px;
  line-height: 1.4;
}

/* Preview */

.highlight-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
}

.post-preview > div {
  flex: 1;
}

.post-preview {
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
}

.post-preview > div {
  flex: 1;
}

/* Navigation */

.navigation {
  margin: 4rem 0;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a.name {
  font-size: 1.4rem;
  color: var(--font-color--heading);
  display: flex;
  align-items: center;
  line-height: 1.2;
  font-weight: 600;
}

.navigation a.name .subtitle {
  color: var(--font-color--muted);
  font-size: 0.9rem;
  font-weight: 400;
}

.navigation .logo {
  margin-right: 0.75rem;
  height: 45px;
  width: 45px;
}

.navigation nav {
  display: flex;
  gap: 2rem;
}

.navigation a.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  color: var(--font-color--base);
}

.navigation a.item img {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.navigation a.item:hover {
  color: var(--font-color--heading);
  text-decoration: underline;
}

/* Hero */

.hero {
  margin: 4rem 0;
}

.hero p {
  font-size: 1.3rem;
  color: var(--font-color--muted);
  line-height: 1.5;
}

.hero h1 {
  margin-bottom: 0.75rem;
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
}

/* Card */

.card {
  border-radius: 4px;
  background: var(--card-background-color);
  padding: var(--margin);
}

.card a.card-header,
.card h2 {
  display: block;
  font-size: 1.1rem;
  line-height: 1.2;
  color: var(--font-color--base);
  font-family: var(--font-family--heading);
  font-weight: 600;
  margin: 0.25rem 0 0.5rem;
}

.card a.card-header:hover,
.card h2:hover {
  text-decoration: underline;
}

.card p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
  color: var(--font-color--muted);
}

.card time {
  display: block;
  font-family: var(--font-family--monospace);
  color: var(--font-color--muted);
  font-size: 0.75rem;
}

.card.muted {
  background: transparent;
  padding: 0;
  margin: 1rem 0;
  border-radius: 0;
}

.card.muted h2 {
  margin: 0.25rem 0 1rem;
}

.links {
  margin-top: 1rem;
}

/* Tags */

.tags,
.links {
  display: flex;
  gap: 0.5rem;
}

a.tag {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--font-color--muted);
}

a.tag:hover {
  color: var(--font-color--heading);
  border-color: var(--border-color-hover);
}

/* Helpers */

.width.small {
  max-width: 600px;
}

.flex {
  display: flex;
  gap: 1rem;
}
