@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&family=Inter:wght@300;400;500;700;900&family=Merriweather:wght@400;700&display=swap');

:root {
  --font-family--base: 'Inter', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  --font-family--monospace: 'IBM Plex Mono', Menlo, monospace;
  --font-family--heading: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Arial, sans-serif;
  --font-family--text: 'Merriweather', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  --font-family--default: 'Merriweather', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  --font-color--base: rgb(58, 57, 57);
  --font-color--muted: #777;
  --font-color--heading: #32373b;
  --font-color--bright: #1f2122;

  --border-color: #e0e0e0;
  --border-color-hover: #a0a0a0;
  --border-radius: 4px;

  --card-background-color: #f6f6f6;
  --card-background-color-hover: #e0e0e0;
  --button-background-color: white;

  --margin: 1.5rem;
  --content-width: 1200px;
  --content-width--small: 550px;
  --content-width--medium: 800px;

  --red: #f34646;
  --orange: #ff7e22;
  --yellow: #fca62a;
  --highlight: #ffc904;
  --blue: #07a7e6;
  --green: #51b681;
  --pink: #e855b3;
  --indigo: #5a43f1;
  --indigo-dark: #4509cf;
  --indigo--light: #6e74f3;
  --indigo--muted: #f1f2fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family--base);
  -webkit-font-smoothing: antialiased;
  color: #444;
  line-height: 1.6;
  font-size: 16px;
  font-kerning: normal;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
ul,
ol,
table {
  -webkit-font-smoothing: auto;
  font-family: var(--font-family--text);
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: var(--margin);
}

ul li ul,
ol li ol {
  margin-bottom: 0;
}

li {
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color--heading);
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: var(--margin);
  font-weight: 600;
}

.page h1:not(:first-child),
.page h2:not(:first-child),
.page h3:not(:first-child) {
  margin-top: 3rem;
}

button,
a.button {
  -webkit-appearance: none;
  background: var(--button-background-color);
  display: inline-flex;
  align-items: center;
  padding: 0.6rem 1rem;
  font-family: var(--font-family--base);
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--font-color--base);
  border: 1px solid var(--border-color);
}

button img,
a.button img {
  max-height: 20px;
  margin-right: 0.5rem;
}

button:hover,
a.button:hover {
  color: var(--font-color--bright);
  border-color: var(--border-color-hover);
}

/* Layout */

.container {
  max-width: var(--content-width);
  padding: 0 var(--margin);
  margin-left: auto;
  margin-right: auto;
}

.segment {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.segment .small {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.segment h2.heading {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.segment h2.heading .title {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.segment h2.heading .description {
  font-size: 1.1rem;
  color: var(--font-color--muted);
  font-weight: 400;
  max-width: var(--content-width--small);
  line-height: 1.4;
}

/* Preview */

.highlight-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
}

.post-preview .card p {
  margin-bottom: 1rem;
}

.post-preview > div {
  flex: 1;
}

.post-preview {
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
}

.post-preview > div {
  flex: 1;
}

.post-preview a.button {
  font-size: 0.9rem;
  padding: 0.5rem 0.6rem;
}

/* Navigation */

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 3rem 0;
  z-index: 2;
}

.navigation .container {
  display: flex;
  align-items: flex-end;
  gap: 5rem;
}

.navigation a.brand {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  line-height: 1.2;
  font-weight: 600;
}

.navigation a.brand .name {
  color: white;
}

.navigation a.brand:hover .name {
  text-decoration: underline;
}

.navigation a.brand .subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
}

.navigation .logo {
  margin-right: 0.75rem;
  height: 45px;
  width: 45px;
}

.navigation nav {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.navigation a.item,
.navigation button.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
  line-height: 1;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  margin: 0 0.75rem;
  padding: 0.4rem 0.1rem;
  /* border-radius: var(--border-radius); */
}

.navigation a.item img,
.navigation button.item img {
  display: inline-block;
  height: 30px;
  width: 30px;
  max-height: none;
  margin: 0;
}

.navigation a.item:hover,
.navigation button.item:hover,
.navigation a.item.active,
.navigation button.item.active {
  color: white;
}

.navigation .item:first-of-type:hover,
.navigation .item:first-of-type.active {
  border-color: #70bdee;
}

.navigation .item:nth-of-type(2):hover,
.navigation .item:nth-of-type(2).active {
  border-color: #72bf8d;
}

.navigation .item:nth-of-type(3):hover,
.navigation .item:nth-of-type(3).active {
  border-color: var(--yellow);
}

.navigation .item:nth-of-type(4n):hover,
.navigation .item:nth-of-type(4n).active {
  border-color: var(--green);
}

.navigation button.item:first-of-type:hover,
.navigation .item:nth-of-type(4n).active {
  border-color: var(--blue);
}

/* Pages */

.page a {
  color: var(--indigo);
  text-decoration: underline;
}

.page a:hover {
  background: var(--indigo);
  color: var(--indigo--muted);
  text-decoration: none;
}

.page a.anchor {
  background: transparent;
}

.page h2 {
  font-size: 2rem;
  margin: 0 0 1rem;
  font-weight: 700;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--border-color);
  font-family: var(--font-family--heading);
  color: var(--font-color--bright);
}

.page h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--font-color--heading);
  letter-spacing: -0.02rem;
  font-family: var(--font-family--heading);
}

.page h4 {
  color: var(--font-color--base);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  background: #32373b;
  color: white;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.page h5 {
  color: var(--font-color--base);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-family: var(--font-family--heading);
}

/* Posts */

.page a.post {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 1.5rem;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  background: transparent;
  text-decoration: none;
}

.page a.post:hover {
  color: var(--font-color--bright);
  text-decoration: underline;
}

.page a.post h3 {
  margin: 0;
  font-size: 1.1rem;
  color: var(--font-color--base);
  font-weight: 600;
  font-family: var(--font-family--base);
}

.page a.post time {
  display: block;
  margin-left: auto;
  font-family: var(--font-family--monospace);
  color: var(--font-color--muted);
  font-size: 0.8rem;
  font-weight: 500;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5rem;
}

/* Input */

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  -webkit-appearance: none;
  background: var(--button-background-color);
  align-items: center;
  padding: 0.6rem 1rem;
  font-family: var(--font-family--base);
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--font-color--base);
  border: 1px solid var(--border-color);
  min-width: 400px;
}

.search-icon {
  cursor: pointer;
}

.highlighted {
  padding: 0 0.1rem;
  border-radius: var(--border-radius);
  background: var(--highlight);
  color: var(--font-color--bright);
}

/* Card */

.card {
  border-radius: 4px;
  background: var(--card-background-color);
  padding: var(--margin);
  position: relative;
}

.card.anchored {
  padding-bottom: 3.5rem;
}

.card a.card-header,
.card h2 {
  display: block;
  font-size: 1.1rem;
  line-height: 1.2;
  font-family: var(--font-family--base);
  color: var(--font-color--base);
  font-weight: 600;
  margin: 0.25rem 0 0.5rem;
  padding: 0;
  border: 0;
}

.card a.card-header:hover,
.card h2:hover {
  text-decoration: underline;
}

.card p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
  color: var(--font-color--muted);
  font-family: var(--font-family--base);
}

.card time {
  display: block;
  font-family: var(--font-family--monospace);
  color: var(--font-color--muted);
  font-size: 0.75rem;
}

.card.muted {
  background: transparent;
  padding: 0;
  border-radius: 0;
}

.card.muted h2 {
  margin: 0.25rem 0 1rem;
}

.links {
  margin-top: 1rem;
}

/* Sidebar */

.post-sidebar-card {
  background: var(--card-background-color);
  padding: var(--margin);
  border-radius: var(--border-radius);
  margin: 2rem 0;
}

.post-sidebar {
  /* margin-top: -4rem; */
}

.post-sidebar h2 {
  font-family: var(--font-family--base);
  color: var(--font-color--muted);
  font-size: 0.8rem;
  border: none;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

.post-sidebar .tags {
  gap: 0.3rem;
}

.vertical-list a {
  background-color: transparent;
  color: var(--font-color--base);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.1rem 0.3rem;
  margin: 0 -0.3rem;
  border-radius: var(--border-radius);
}

.vertical-list a:hover {
  background: var(--indigo);
  color: white;
}

/* Tags */

.tags,
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

a.tag {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--font-color--base);
  background: var(--button-background-color) !important;
  text-decoration: none;
}

a.tag:hover {
  color: var(--font-color--bright);
  border-color: var(--border-color-hover);
}

.categories.anchored,
.links.anchored {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

a.cat {
  font-family: var(--font-family--monospace);
  font-size: 0.8rem;
  color: var(--font-color--muted);
  text-decoration: none;
}

a.cat:hover {
  color: var(--font-color--bright);
  text-decoration: underline;
}

/* Helpers */

.vhs-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  line-height: 1;
  border: 2px solid #42474c;
  padding: 0.75rem 1rem;
  text-align: justify;
  color: #42474c;
  background: white;
  z-index: 2;
}

.vhs-button:hover {
  border-color: #32373b;
  color: #32373b;
}

.bold {
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.light {
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.margin-bottom {
  margin-bottom: var(--margin);
}

a.prelude {
  font-size: 0.9rem;
  color: var(--indigo);
  font-family: var(--font-family--monospace);
}

.width.small {
  max-width: var(--content-width--small);
}
.width.medium {
  max-width: var(--content-width--medium);
}

.flex {
  display: flex;
  gap: 1rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-column {
  flex: 1;
}

.vertical-list {
  display: flex;
  flex-direction: column;
}

a.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

a.category.active {
  background: var(--indigo);
  color: white;
}

a.category:hover .count,
a.category.active .count {
  color: white;
}

.category .count {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--font-color--muted);
  font-family: var(--font-family--monospace);
}

/* Colors */

.padding {
  padding: 2rem;
}

.hero-padding {
  padding: 12rem 0 2.5rem;
}

.pattern {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
}

.hero {
  overflow: hidden;
  border-radius: var(--border-radius);
  /* box-shadow: rgb(0 0 0 / 10%) 0px 16px 32px, rgb(0 0 0 / 8%) 0px 8px 20px; */
}

.hero h1 {
  position: relative;
  z-index: 3;
  font-size: 4.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.07rem;
  color: white;
  margin: 0;
  max-width: 700px;
}

.post.hero h1 {
  font-size: 2.8rem;
  letter-spacing: -0.03rem;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--font-color--base);
  font-family: var(--font-family--base);
}

.hero p:last-child {
  margin: 0;
}

.top {
  overflow: hidden;
  position: relative;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: linear-gradient(to bottom right, #1f2122, #32373b);
}

.bottom {
  background: var(--card-background-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.dots {
  position: relative;
}

.dots::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 0;
  background: radial-gradient(farthest-side, #3d4042 80%, transparent 82%) 0 0/ 7px
    7px;
  -webkit-mask: linear-gradient(to left, #fff, transparent);
  mask: linear-gradient(to right, #fff, transparent);
  width: 45%;
}

.dots.vertical::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(farthest-side, #3d4042 80%, transparent 82%) 0 0/ 7px
    7px;
  -webkit-mask: linear-gradient(to top, #fff, transparent);
  mask: linear-gradient(to bottom, #fff, transparent);
  width: 100%;
}

.hero-prelude {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1rem;
  font-style: italic;
}

.lines.vertical {
  transform: rotate(-35deg);
  position: absolute;
  top: 0;
  right: -30rem;
  height: 100%;
  width: 100%;
}

.line {
  margin-top: -2px;
  height: 70px;
}

.line.yellow {
  background-color: var(--yellow);
}

.line.blue {
  background: #5286c1;
  /* background: #e6615a; */
  /* background: var(--orange); */
}

.line.purple {
  /* background: #54b790; */
  /* background: #f2cf72; */
  background: #6061cf;
}

.line.violet {
  /* background: #DE4055; */
  /* background: #c5f777; */
  background: #5d38c6;
}

.line.lavender {
  /* background: #E19736; */
  /* background: #7bb3ca; */
  background: #8348bc;
}

.line.pink {
  /* background: #9C438B; */
  /* background: #c293e8; */
  background: #b662c8;
}

.line.orange {
  background: #e6615a;
}

.highlight {
  color: #70bdee;
}

.red1 {
  background: #efcf4a;
}

.red2 {
  background: #e0a944;
}

.red3 {
  background: #d37d36;
}

.red4 {
  background: #cd583c;
}

.red5 {
  background: #ab2e3f;
}

.green1 {
  background: #95cd7f;
}
.green2 {
  background: #73b18a;
}
.green3 {
  background: #4d8994;
}
.green4 {
  background: #30619d;
}
.green5 {
  background: #30379d;
}

.blue1 {
  background: #70bdee;
}

.blue2 {
  background: #618be1;
}

.blue3 {
  background: #5b5ed5;
}

.blue4 {
  background: #623ac6;
}

.blue5 {
  background: #58119f;
}

.rainbow1 {
  background: #da66b7;
}

.rainbow2 {
  background: #7549f0;
}

.rainbow3 {
  background: #4989c6;
}

.rainbow4 {
  background: #72bf8d;
}

.rainbow5 {
  background: #f4c950;
}

.no-margin-top {
  margin-top: 0;
}

.writing {
  background: var(--green);
}

/* Gatsby */

.gatsby-resp-image-wrapper {
  margin-left: 0 !important;
}

a.gatsby-resp-image-link {
  background: transparent !important;
}
