/* Reset
  =============== */

// Reset box sizing to border box
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove figure margin
figure,
body {
  margin: 0;
}
